mixin orders-block()
    .orders-block
        .orders-block__sort
            ul
                li: a(href='#') Новые
                li: a.active(href='#') Одобренные
                li: a(href='#') Отклоненные

            .export-order
                .export-order__btn
                    button.btn.btn-line Экспорт
                .export-order__drop
                    form(action="/" )
                        .export-order__from
                            input(type="text" placeholder="от" data-export="datepicker" data-datepicker-lang="ru")
                        span —
                        .export-order__before
                            input(type="text" placeholder="до" data-export="datepicker" data-datepicker-lang="ru")
                        .export-order__dl
                            button.ic_dl(title="Скачать" type="submit")

        .orders-block__list
            .table-card
                .table-card__tr
                    .table-card__th Название
                    .table-card__th Режисер
                    .table-card__th Дата подачи
                    .table-card__th Статус
                    .table-card__th Действия 
                //- =======================================
                //- =======================================

                each item in moderator.orders
                    .table-card__tr(class=item.state)
                        .table-card__td(data-title="Название")
                            span.ob-name
                                a(href='#')= item.name
                            span.ob-number 22-00650
                        .table-card__td(data-title="Режисер")= item.autor
                        .table-card__td(data-title="Дата подачи")= item.date
                        .table-card__td(data-title="Статус")
                            span.ob-status
                                button.btn.btn-line.btn-line--success(class=(item.state == 'state--success'? 'active':'') data-ob="status") Одобрен
                                button.btn.btn-line.btn-line--reject(class=(item.state == 'state--reject'? 'active':'') data-ob="status") отклонeн
                        .table-card__td(data-title="Действия")
                            +ob-action()
                 


mixin ob-action
    .ob-action
        a.ob-link(href='#'): +icons('#ic_chain', 20)
        span.ob-menu(data-menu="dots")
            .ob-menu__icon: +icons('#ic_dots-menu', 20)
            .ob-menu__list
                ul
                    li: a(href='moderator-edit.html') Редактировать
                    li: a(href='#') Удалить
                    li: a(href='#') Перейти к фильму