 .messenger {

     position: relative;
     width: 100%;

     @media screen and (min-width: $w760) {
         display: flex;
         margin: 0 -7px;
         height: 80vh;
     }

     &__contacts {



         @media screen and (min-width: $w760) {
             width: 40%;
             padding: 0 7px;
             height: 100%;

         }

         @media screen and (min-width: $w992) {
             width: 30%;
             padding: 0 7px;
         }


     }

     &__chat {

         display: none;



         @media screen and (min-width: $w760) {
             display: block;
             width: 60%;
             padding: 0 7px;
         }

         @media screen and (min-width: $w992) {
             display: block;
             width: 70%;
             padding: 0 7px;
         }
     }

     &__send {
         @media screen and (min-width: $w760) {
             padding-top: 15px;
         }
     }

     &__messages {

         padding: 15px 0;

         @media screen and (min-width: $w760) {
             border: 1px solid #bcbcbc;
             border-radius: 5px;
             padding: 30px;
             height: calc(100% - 77px);

         }
     }

     &__scroll {
         height: 60vh;
         overflow: visible !important;

         @media screen and (min-width: $w760) {
             height: 100%;
         }
     }

     &__list {
         @media screen and (min-width: $w760) {
             height: calc(100% - 52px);
         }
     }

     &__new {
         & .btn {
             width: 100%;
         }
     }

     &__back {

         @media screen and (min-width: $w760) {
             display: none;
         }

         & span {
             cursor: pointer;
             margin-top: -30px;
             display: inline-flex;
             align-items: center;

             &::before {
                 content: '';
                 width: 1em;
                 height: 1em;
                 display: inline-flex;
                 background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNSA5TDEgNWw0LTQiIHN0cm9rZT0iIzUyNTE2NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+);
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                 margin-right: 1em;
             }
         }
     }

     &__user {
         font-size: 24px;
         font-weight: bold;
         color: $main;
         text-transform: uppercase;
         padding-top: 30px;

         @media screen and (min-width: $w760) {
             display: none;
         }
     }

     &__form {
         display: flex;
         align-items: stretch;
         border: 1px solid #bcbcbc;
         padding: 4px 4px 2px 4px;
         border-radius: 5px;
     }

     &__button {
         width: 40px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-left: 5px;
         border-radius: 5px;

         &:hover {
             background-color: #eee;
             cursor: pointer;
         }

     }

     &__field {
         flex-grow: 1;


         & textarea {
             width: 100%;
             max-width: 100%;
             resize: none;
             border: 1px solid transparent;
             outline: none;
             padding: 9px;
             min-height: 40px;
             height: 40px;
             max-height: 100px;




             &:focus {
                 outline: none;
             }

             &:focus,
             &:hover {
                 resize: vertical;
                 outline: none;
                 border: 1px solid #eee;
                 border-radius: 5px;
             }
         }
     }

     & .os-scrollbar-vertical {
         right: -25px;
     }


 }

 .messenger-contact {
     border: 1px solid #bcbcbc;
     border-radius: 5px;
     padding: 11px 11px;
     margin: 7px 0;
     position: relative;
     display: flex;
     align-items: center;
     cursor: pointer;

     &:hover {
         background-color: #f5f5f5;
     }

     &.active {
         background-color: #92919F;

         &.messenger-contact {
             &--unread {
                 &::after {
                     background-color: #fff;
                 }
             }


         }

         & .messenger-contact {

             &__last,
             &__name {
                 color: #fff
             }


         }
     }



     &--unread {
         &::after {
             width: 10px;
             height: 10px;
             display: inline-block;
             border-radius: 50%;
             background-color: $red;
             content: '';
             position: absolute;
             right: 10px;
             bottom: 10px;
             z-index: 1;
         }
     }

     &__photo {
         width: 48px;
         min-width: 48px;

         & .bgimage {
             display: block;
             @include bgimage-cover;
             padding-top: 100%;
             background-color: #ddd;
             border-radius: 50%;
         }
     }

     &__detail {
         padding-left: 15px;
     }

     &__name {
         font-size: 13px;
         line-height: 154%;
         text-transform: uppercase;
         color: #525166;
         font-weight: bold;
         margin-bottom: 0.2em;
     }

     &__last {
         font-size: 12px;
         line-height: 150%;
         color: #525166;
         margin-bottom: 0.2em;
         @include line-clamp(1);
     }

     &__date {
         font-size: 12px;
         line-height: 20px;
         color: #92919F;
     }



 }

 .item-message {

     padding: 15px 0;

     &__head {
         display: flex;
         align-items: center;
     }

     &__photo {
         & .bgimage {
             width: 36px;
             height: 36px;
             @include bgimage-cover;
             border-radius: 50%;
             background-color: #ddd;
             margin-bottom: -10px;
             background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI0Ljk5IDI0LjU4N2MuMDk0Ljc3Ni0uNTQ0IDEuNDEzLTEuMzE3IDEuNDEzSDEyLjMyN2MtLjc3MyAwLTEuNDExLS42MzctMS4zMTgtMS40MTMuNTI3LTQuMzcxIDMuNDU2LTYuNzE3IDYuOTkxLTYuNzE3IDMuNTM1IDAgNi40NjQgMi4zNDYgNi45OSA2LjcxN3ptLTMuNjQ3LTExLjIwM2MwIDEuODctMS40OTcgMy4zODQtMy4zNDMgMy4zODQtMS44NDYgMC0zLjM0My0xLjUxNS0zLjM0My0zLjM4NFMxNi4xNTQgMTAgMTggMTBjMS44NDYgMCAzLjM0MyAxLjUxNSAzLjM0MyAzLjM4NHoiIGZpbGw9IiM5MjkxOUYiLz48L3N2Zz4=);
         }
     }

     &__detail {
         display: flex;
         font-size: 12px;
         color: $main;
         padding-left: 1em;
     }

     &__name {
         &:after {
             content: ',';
             display: inline-block;
             padding: 0 4px 0 2px;
         }
     }

     &__main {
         padding-top: 0;
         padding-left: 48px;

         & span {
             background-color: #F5F5F5;
             padding: 10px;
             border-radius: 0px 8px 8px 8px;
             display: inline-block;
         }
     }

     &--my {
         & .item-message {
             &__head {
                 flex-direction: row-reverse;
             }

             &__name {
                 display: none;
             }

             &__main {
                 padding-left: 0;
                 padding-right: 48px;
                 display: flex;
                 justify-content: flex-end;

                 & span {
                     border-radius: 8px 0px 8px 8px;
                     background-color: #EBEBF5;
                 }
             }

             &__detail {
                 padding-right: 1em;
             }
         }
     }
 }

 .messanger-text-preview {
     top: 50%;
     position: relative;
     text-align: center;
     font-size: 22px;
     font-weight: 300;
     color: #ccc;
 }