mixin moderator-directors-card(popup)
    .directors-card

        if popup
            .directors-card__title Карточка режисера
        

        form(action='#' method='POST')
            .directors-card__photo
                .box-photo
                    .box-photo__image
                        span(class="bgimage lazyload" data-attach="preview"  )
                    .box-photo__add
                        label(class="attach-text")
                            input(type="file" data-attach="photo" name="photo")
                            span Добавить фото
            .directors-card__tabs
                ul
                    li.active: a(href='#'): button.btn.btn-line на русском 
                    li: a(href='#'): button.btn.btn-line на английском
            .directors-card__fields
                .form
                    .form__item
                        .form__subitem: +input-material('text', 'ФИО', 'Сергей')
                    .form__item
                        .form__subitem: +select('Страна', ['Россия','Турция'])
                        .form__subitem: +select('Год рождения', ['1900','1901','1902','1903'])
                    .form__label Награды и премии
                    .form__group(data-add-container="awards")
                        .form__item
                            .form__subitem
                                input(type="text" placeholder="Название награды или премии" value="Награда 1")
                                span.remove-repeater
                        .form__item
                            .form__subitem
                                input(type="text" placeholder="Название награды или премии" value="Награда 2")
                                span.remove-repeater
                        .form__item
                            .form__subitem
                                input(type="text" placeholder="Название награды или премии" value="Награда 3")
                                span.remove-repeater
                    span.add-field(data-add="awards") + Добавить награду

                    .form__label Фильмография
                    .form__group(data-add-container="filmography")
                        .form__item
                            .form__subitem: +input-material('text', 'Фильм')
                            .form__subitem
                                +input-material('text', 'Ссылка')
                                span.remove-repeater
                    span.add-field(data-add="filmography") + Добавить фильм

                    .form__label Дополнительная информация
                    .form__item
                        .form__subitem
                            textarea(placeholder="Дополнительная информация")
                    .form__label Заявки на фестивали

            .directors-card__orders
                .table-card
                    .table-card__tr
                        .table-card__th Фильм
                        .table-card__th Год производства
                        .table-card__th Название фестиваля
                        .table-card__th Рейтинг жюри
                        .table-card__th Рейтинг зрителей
                    .table-card__tr
                        .table-card__td(data-title="Фильм"): a(href='' target="_blank") Левиафан
                        .table-card__td(data-title="Год производства") 2014
                        .table-card__td(data-title="Название фестиваля") Patriki Film Festival
                        .table-card__td(data-title="Рейтинг жюри") 8.4
                        .table-card__td(data-title="Рейтинг зрителей") 8.5
                    .table-card__tr
                        .table-card__td(data-title="Фильм"): a(href='' target="_blank") Тупой и еще тупее тупого: Когда Гарри встретил Ллойда (2003)
                        .table-card__td(data-title="Год производства") 2014
                        .table-card__td(data-title="Название фестиваля") Patriki Film Festival
                        .table-card__td(data-title="Рейтинг жюри") 8.4
                        .table-card__td(data-title="Рейтинг зрителей") 8.5
            .directors-card__submit
                button.btn(type="submit") Сохранить изменения
                         