.block-rating {

    &__head {

        display: none;

        @media screen and (min-width: $w992) {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 327%;
            color: #92919F;
            padding-bottom: 10px;
            display: block;
        }

        & ul {
            display: flex;
            width: 100%;

            & li {}
        }

        &-name {
            width: 37%;

            @media screen and (min-width: $w1440) {
                padding-left: 37px;
            }
        }

        &-grade {
            width: 51%;
        }

        &-total {
            width: 12%;
            white-space: nowrap;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__tabs {

        padding-bottom: 25px;
        margin-right: -9px;

        @media screen and (min-width: $w360) {
            margin-right: 0;
        }

        & ul {
            display: flex;
            align-items: center;
            margin: 0 -6px;
            overflow-x: auto;
            padding-bottom: 10px;
            margin-bottom: -10px;


            & li {
                margin: 0 6px;

                & .active {
                    & .btn {
                        color: #525166;

                        &:hover {
                            color: #fff
                        }
                    }
                }
            }
        }
    }
}

.card-rating {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 25px;



    @media screen and (min-width: $w992) {
        display: flex;
        flex-wrap: nowrap;
    }

    @media screen and (min-width: $w760) {
        display: flex;
        flex-wrap: wrap;
        padding: 18px;
    }

    &__position {
        display: none;

        @media screen and (min-width: $w1440) {
            display: flex;
            align-items: center;
            min-width: 2.2em;
            justify-content: center;
            font-weight: 600;
            margin-left: -1em;
        }
    }

    &__details {
        display: flex;
        padding-bottom: 25px;

        @media screen and (min-width: $w760) {
            flex-grow: 1;
        }

        @media screen and (min-width: $w992) {
            width: 100%;
            padding-bottom: 0;
        }


    }



    &__info {
        padding-left: 15px;
    }

    &__number {
        padding-top: 0.3em;
        padding-bottom: 0.4em;
        font-weight: 600;
        font-size: 12px;
        color: $main;

        @media screen and (min-width: $w1440) {
            display: none;
        }
    }

    &__name {

        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 0.4em;

        & a {
            font-weight: 600;
            font-size: 14px;
            color: $main;
        }
    }

    &__year {
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: #92919F;
        margin-top: auto;
        padding-bottom: 0.5em;

    }

    &__duration {

        display: flex;
        color: #92919F;

        & span {
            padding-left: 0.9em;
        }


        & ul {

            display: flex;
            align-items: center;
            margin: -2px;

            & li {

                margin: 2px;

                & .bgimage {
                    width: 23px;
                    height: 17px;
                    @include bgimage-cover;
                    background-color: #eee;
                    border: 1px solid #e7e6f5;
                }
            }
        }
    }

    &__cover {
        max-width: 80px;
        width: 100%;

        @media screen and (min-width: $w1440) {
            max-width: 95px;
        }




        & picture {
            display: block;
            padding-top: 134%;
            background-color: #eee;
            position: relative;
            border-radius: 4px;
            overflow: hidden;

            & img {
                @include layer(1);
            }
        }
    }

    &__grade {
        padding-bottom: 25px;

        @media screen and (min-width: $w760) {
            order: 2;
            padding-bottom: 0;
        }

        @media screen and (min-width: $w992) {
            order: unset;
        }

        &::before {
            content: attr(data-title);
            padding-bottom: 10px;
            font-weight: 400;
            font-size: 13px;
            line-height: 167%;
            color: #92919F;
            display: block;

            @media screen and (min-width: $w992) {
                display: none;
            }
        }

        & ul {

            @media screen and (min-width: $w760) {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
            }

            & li {
                display: flex;
                justify-content: space-between;
                padding: 4px 0;

                @media screen and (min-width: $w760) {
                    width: 50%;
                    padding: 3px 10px;
                }

                @media screen and (min-width: $w1440) {
                    padding: 1.5px 10px;
                }

                & span {

                    color: $main;
                    font-weight: 500;

                    @media screen and (min-width: $w992) {
                        font-size: 13px;
                        color: #92919F;
                    }

                    &:last-child {
                        color: #525166;
                        border: 1px solid #BCBCBC;
                        border-radius: 5px;
                        padding: 0.3em 0.5em;
                        font-weight: 600;
                        min-width: 40px;
                        text-align: center;

                        @media screen and (min-width: $w760) {
                            min-width: 33px;
                            font-size: 13px;
                            padding: 0.1em 0.3em;
                        }
                    }
                }
            }
        }
    }

    &__total {

        @media screen and (min-width: $w760) {
            text-align: right;
        }

        @media screen and (min-width: $w992) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 0.5em 0.5em 25px;
            text-align: center;


        }

        @media screen and (min-width: $w1440) {
            width: 30%;
        }

        &::before {
            content: attr(data-title);
            padding-bottom: 10px;
            font-weight: 400;
            font-size: 13px;
            line-height: 167%;
            color: #92919F;
            display: block;
            white-space: nowrap;

            @media screen and (min-width: $w992) {
                display: none;
            }
        }

        & span {
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: $main;

            @media screen and (min-width: $w992) {
                display: inline-block;
                min-width: 1.5em;
            }
        }
    }


}