.page-archive {

    padding-bottom: 60px;

    &__text {
        padding-bottom: 25px;

        @media screen and (min-width: $w992) {
            padding-top: 5px;
        }

        & * {
            color: #fff;
            font-size: 16px;

            @media screen and (min-width: $w992) {
                font-size: 20px;
            }
        }

        & h2 {
            margin-bottom: 1em;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 143%;

            @media screen and (min-width: $w992) {
                font-size: 28px;
                margin-top: 30px;
            }
        }

        & ul {
            margin-bottom: 1em;

            & li {
                padding-bottom: 14px;
                line-height: 143%;
            }
        }
    }

    &__yaers {

        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-top: -45px;
        padding-bottom: 30px;

        @media screen and (min-width: $w992) {
            margin-top: -60px;
        }

        @media screen and (min-width: $w1440) {
            margin-top: -70px;
        }

        &-next,
        &-prev {
            & a {
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (min-width: $w760) {
                    width: 56px;
                    height: 56px;
                }

                &:hover {
                    background-color: #616079;
                }
            }

        }

        &-current {
            font-weight: 700;
            font-size: 28px;
            line-height: 143%;
            color: #fff;
            padding: 0 15px;

            @media screen and (min-width: $w760) {
                font-size: 36px;
                padding: 0 20px;
            }
        }
    }

    &__films {
        @media screen and (min-width: $w1440) {
            padding-top: 28px;
        }
    }


}


.archive-films {

    color: #fff;
    line-height: 146%;

    &__list {
        @include row-flex;
    }

    &__item {

        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        padding: 8px;
        position: relative;

        @media screen and (min-width: 359px) {
            width: 50%;
            padding: 8px;
        }

        @media screen and (min-width: $w760) {
            width: 33.33%;
            padding: 8px;
        }

        @media screen and (min-width: $w992) {
            width: 25%;
            padding: 10px;
        }

        @media screen and (min-width: $w1440) {
            width: 20%;
            padding: 10px;
        }

        & .minicard-film {
            &__award {

                position: absolute;
                right: 0;
                bottom: 0;
                left: 20%;
                top: 35%;
                z-index: 5;

                @media screen and (min-width: $w760) {
                    left: 50%;
                    top: 50%;
                }



                & .bgimage {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-position: right top;
                    background-repeat: no-repeat;
                    background-size: contain;

                    @media screen and (min-width: $w760) {
                        background-position: right bottom;
                    }
                }
            }
        }

    }

    &__title {

        @include section-title-site;
        text-align: left;
        color: #fff;

        padding-bottom: 0.5em;

        @media screen and (min-width: $w1440) {
            padding-bottom: 0.7em;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        padding-bottom: 1em;

        @media screen and (min-width: $w992) {
            font-size: 20px;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 1em;

        }

    }

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 143%;
        text-transform: uppercase;
        padding-bottom: 0.6em;

        @media screen and (min-width: $w992) {
            font-size: 28px;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 1.3em;
        }
    }

    &__jury {
        padding-bottom: 15px;
        font-size: 16px;

        @media screen and (min-width: $w992) {
            font-size: 20px;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 1.35em;
        }
    }

    &__program {
        padding-bottom: 30px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 13px;
        }
    }




}


.film-preview {

    background: rgba(0, 0, 0, 0.95);
    margin: -10px;
    padding: 10px;
    color: #fff;
    max-width: 900px;


    @media screen and (min-width: $w760) {
        display: flex;
        padding: 30px;

        &__left {
            width: 204px;
            min-width: 204px;
        }

        &__right {
            width: calc(100% - 204px);
            padding-left: 24px;
        }
    }

    &__cover {

        position: relative;
        z-index: 1;
        border-radius: 7px;
        padding-bottom: 25px;

        @media screen and (min-width: $w1200) {
            width: 100%;
            max-width: 204px;
            margin-right: 25px;
        }

        & picture {
            display: block;
            padding-top: 146%;
            position: relative;
            background-color: $main-dark-2;
            border-radius: 8px;

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                border-radius: 8px;
            }
        }
    }

    &__title {

        display: block;
        padding-bottom: 5px;
        @include section-title-site;
        text-align: left;
        color: #fff;
    }

    &__description {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        overflow: hidden;
    }

    &__year {

        padding-bottom: 21px;

        & ul {

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (min-width: $w992) {
                justify-content: flex-start;
            }

            & li {
                color: #fff;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 600;

                &::after {
                    content: '';
                    width: 5px;
                    height: 5px;
                    display: block;
                    border-radius: 50%;
                    background-color: $main-dark-3;
                    margin: 0 10px;

                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &__censor {
        position: absolute;
        color: #fff;
        z-index: 111;
        top: 7px;
        right: 12px;
        font-weight: bold;
        text-shadow: 0 0px 2px #000;
        font-size: 12px;
    }

    &__list {

        padding-bottom: 25px;

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;

            & li {
                flex-grow: 1;
                flex-basis: 150px;
                max-width: 190px;
                margin: 5px;
                margin-bottom: 15px;

                & small {
                    display: block;
                    font-size: 14px;
                    color: $gray-74;


                    @media screen and (min-width: $w1440) {
                        font-size: 16px;
                        padding-bottom: 5px;
                    }
                }

                & span {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (min-width: $w1440) {
                        font-size: 16px;
                    }

                    & a {
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

}