mixin director-page
    .about-user
        .about-user__photo: +bgimage('/img/common/user2.jpg')
        .about-user__main
            .about-user__info
                ul
                    li Россия
                    li 1976
            .about-user__biography 
                p Анна Меликян – российский кинорежиссёр, продюсер, сценарист. Родилась 8 февраля 1976 года в Баку, Азербайджан. После окончания школы юная Анна отправилась в Москву и поступила в престижный Всероссийский государственный университет кинематографии имени С.А. Герасимова (ВГИК), где обучалась у Сергея Соловьёва и Валерия Рубинчика.
                p Во время учёбы Меликян начала снимать свои первые короткометражки: «Анданте», «Полетели», которые не раз были отмечены различными наградами на российских и международных фестивалях. Фильм «До востребования» получил главный приз в конкурсе ВГИКа, а также стал лучшей короткометражкой на Мельбурнском международном кинофестивале в 2001 году. В этом же году Анна стала членом Союза кинематографистов России.
                p Также в конце 90-х она начала ассистировать режиссёру Евгению Гинзбургу на различных музыкальных шоу. Её дипломная работа «Контрабас» обеспечила её грантом «Госкино», а также позволила пройти практику в немецких кинокомпаниях.
                p После окончания университета в 2002 году Анна стала сотрудничать с телевизионным каналом «ТВС». Она режиссировала программы «Точка опоры», «Путеводитель», «Посольский двор», «Дачники».
                p В 2004 году Меликян представила публике свой первый полнометражный фильм «Марс», где роли главных героев исполнили Гоша Куценко и Евгения Добровольская. Картина стала участником Берлинского кинофестиваля.
                p После появления её второго полнометражного фильма «Русалка», вышедшего в 2008 году, Анна получила признание не только российских зрителей, но и кинокритиков всего мира. Лента была отмечена огромным количеством наград: на международных кинофестивалях в Берлине, Ереване, Карловых Варах, на фестивалях «София» и «Сандэнс». А американский журнал «Variety» включил её в десятку самых перспективных режиссёров мира наряду с известным Тони Гилроем.
                p В 2011 году она выпустила ещё одну короткометражку «Про любовь» с Вильмой Кутавичюте в главной роли.
                p В 2014 году вышла комедия Меликян «Звезда», а в 2015-ом – полнометражный фильм «Про любовь» с Ренатой Литвиновой в главной роли. Этот проект принес режиссеру приз мэра российской столицы «За создание образа Москвы в киноискусстве».
                p В 2016 году на экраны вышел сериал Анны Меликян «Квартет». Главную роль в нем исполнила популярная актриса Александра Бортич. В 2019-ом году Меликян сняла Константина Хабенского в фильме «Фея», а в 2020-ом – в мелодраме «Трое». В том же году вышел ее сериал «Нежность», который сразу полюбился публике и стал широко обсуждаемым.
                p Помимо режиссёрской деятельности, Анна Меликян занимается также продюсированием молодых талантов. Она организовала компанию «Магнум», где создаются и продвигаются новые кинопроекты. Успешными работами, где она выступала в качестве продюсера, стали «Домовой» и «Семейка Ады».
                p Свою личную жизнь Анна предпочитает держать в секрете от публики, но известно, что она была замужем за известным продюсером Рубеном Дишдишяном, от которого родила дочь Александру. А в 2015-ом году появились слухи о ее отношениях с миллиардером Данилой Хачатуровым.
            .about-user__more
                span(data-text-hide="Скрыть" data-text-show="Читать далее") Читать далее 
                +icons('#ic_arr-down', 22)

    .films-on-festival
        .films-on-festival__title Заявки на фестивали
        .films-on-festival__list
            each item, index in moderator.films
                if index <= 3
                    .films-on-festival__item: +card-film(item)
    .filmography-user
        .filmography-user__title Фильмография
        .filmography-user__list
            each item in site.filmography
                .filmography-user__item: +card-filmography(item)

    .awards-user
        .awards-user__title Награды и премии
        .awards-user__list 
            ul 
                li 2000 – Международный фестиваль в Милане — приз за лучший фильм («Полетели»)
                li 2000 – Международный фестиваль в Исмаилии — специальный приз жюри («Полетели»)
                li 2001 – Мельбурнский международный кинофестиваль («До востребования»)
                li 2001 – Международный фестиваль короткометражного кино в Клермон-Ферране, приз жюри, («До востребования»)
                li 2001 – Международный фестиваль в Пуатье — приз молодёжного жюри за лучший фильм («До востребования»)
                li 2001 – Мельбурнский международный кинофестиваль («До востребования»)
                li 2001 – Международный фестиваль короткометражного кино в Клермон-Ферране, приз жюри, («До востребования»)
                li 2001 – Международный фестиваль в Пуатье — приз молодёжного жюри за лучший фильм («До востребования»)
            
        .awards-user__more
            button.btn.btn-line(data-text-hide="Скрыть" data-text-show="Показать все") Показать все


         


mixin card-filmography(data)
    .card-filmography
        .card-filmography__name= data.name
        .card-filmography__link: a(href='#')= data.link

mixin card-film(data)
    .card-film 
        .card-film__cover
            +picture(data.image)
        .card-film__title: a(href='#')= data.title
        .card-film__year 2020
        .card-film__type Российский конкрурс 
        .card-film__rate
            .card-film__rate-jury
                small Рейт. жюри
                span 6.4
            .card-film__rate-viewer
                small Рейт. зрителей
                span 7.2
    
    