.section-page-moderator {
    height: 100%;

    & .container {
        height: 100%;
    }
}

.page-moderator {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 85vh;



    &__aside {


        @media screen and (min-width: $w1200) {
            border-right: 1px solid $main;
            width: 100%;
            max-width: 187px;
            min-width: 187px;
        }
    }

    &__content {
        padding: 25px 0px 25px 0px;
        flex-grow: 1;
        width: calc(100% - 235px);

        @media screen and (min-width: $w1200) {
            padding: 40px 45px 75px 45px;
        }
    }

    @media screen and (min-width: $w992) {
        * {
            scrollbar-color: #c3c3d7 #e6e6ef;
            scrollbar-width: thin !important;
        }

        *::-webkit-scrollbar {
            width: 8px;
        }

        *::-webkit-scrollbar-track {
            background-color: #e6e6ef;
        }

        *::-webkit-scrollbar-thumb {
            background-color: #c3c3d7;
        }
    }

}

.main-moderator {
    padding-top: 30px;
}