.section-about-media {
    position: relative;
    padding: 16px 0;

    @media screen and (min-width: $w1200) {
        padding: 48px 0;
    }
}


.about-media {
    &__title {
        @include section_title;
        text-align: left;
        color: #fff;
        padding-bottom: 30px;

        @media screen and (min-width: $w1440) {
            font-size: 60px;
        }
    }

    &__slider {

        padding: 0 16px;

        @media screen and (min-width: $w576) {
            padding: 0;
        }

        & .splide {
            &__slide {

                & .about-news__title {

                    transition: 0.3s ease;
                    opacity: 0.3;

                    @media screen and (min-width: $w992) {
                        margin-top: -25px;
                        transform: scale(0.9);

                    }


                }


                &.is-active {
                    & picture {
                        transform: scale(1);
                        opacity: 1;


                    }

                    & .about-news__title {
                        transform: scale(1);
                        margin-top: 0;
                        opacity: 1;
                    }
                }

                & picture {
                    display: block;
                    padding-top: 74%;
                    position: relative;
                    transition: 0.3s ease;

                    @media screen and (min-width: $w1440) {
                        padding-top: 74%;
                    }

                    @media screen and (min-width: $w992) {
                        padding-top: 61%;
                        transform: scale(0.9);
                        opacity: 0.3;
                    }



                    & img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__arrow {
                width: 38px;
                height: 38px;
                border-radius: 0;
                background-color: #f5f5f5;
                display: none;
                opacity: 1;

                @media screen and (min-width: $w1440) {
                    width: 48px;
                    height: 48px;
                }

                & svg {
                    position: relative;
                    top: 2px;
                    width: 16px;
                    height: 14px;
                }

                &--next {
                    right: 5.2em;

                    @media screen and (min-width: $w1440) {
                        top: 32%;
                    }

                    top: 40%;

                }

                &--prev {
                    left: 5.2em;

                    @media screen and (min-width: $w1440) {
                        top: 32%;
                    }

                    top: 40%;

                }

                @media screen and (min-width: $w992) {
                    display: block;
                }
            }
        }
    }
}

.about-news {

    width: 75vw;

    @media screen and (min-width: $w760) {
        width: 50vw;
    }

    @media screen and (min-width: $w992) {
        width: auto;
    }

    &__title {
        & a {
            font-weight: 700;
            font-size: 16px;
            line-height: 156%;
            color: #FFFFFF;

            @media screen and (min-width: $w1440) {
                font-size: 18px;
            }

            @media screen and (min-width: $w992) {
                font-size: 16px;
            }
        }
    }

    &__image {
        padding-bottom: 15px;
    }


}


.fp-about {


    & .splide.is-initialized.splide-mobile-disabled-992>.splide__track {
        @media screen and (max-width: $w1376) {
            height: calc(100vh - 240px) !important;
        }

        @media screen and (max-width: $w992) {
            height: calc(100vh - 240px) !important;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 40px;

        @media screen and (max-width: $w992) {
            display: none;
        }


        &-slide {
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;

            & div {
                display: none;
                opacity: 0;


                @keyframes to-fade-up {
                    from {
                        opacity: 0;
                        transform: translateY(10px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                &.is-active {
                    display: block;
                    animation: to-fade-up 0.3s ease forwards;
                }

            }
        }

        &-next,
        &-prev {

            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & svg {
                filter: grayscale(1) invert(1) brightness(2);
            }

        }

        &-action {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        &-dots {

            padding: 0 25px;

            & ul {

                display: flex;
                justify-content: center;
                align-items: center;
                margin: -6px;

                & li {

                    padding: 6px;

                    &.is-active {
                        & span {
                            background-color: #aaa;
                        }
                    }

                    & span {
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        display: block;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

@keyframes to-fade-left {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fp-about {
    & .splide {

        @media screen and (min-width: $w992) {

            padding-bottom: 22px;

            & .about-main__title,
            & .about-media__title,
            & .about-team__title,
            & .about-founder__title,
            & .about-advice__title,
            & .about-history__title {
                opacity: 0;
            }
        }

        &__slide {



            @media screen and (min-width: $w992) {
                height: calc(-360px + 100vh) !important;
            }

            &.is-active {

                & .about-main__title,
                & .about-media__title,
                & .about-team__title,
                & .about-founder__title,
                & .about-advice__title,
                & .about-history__title {
                    animation: to-fade-left 0.3s ease forwards;
                }
            }
        }

    }


}