input {
    display: block;
    width: 100%;
}

.form {

    & input:invalid {
        box-shadow: none;
    }

    & input[type="text"],
    & input[type="number"],
    & input[type="password"],
    & input[type="email"],
    & input[type="tel"] {
        height: 52px;
        font-size: 14px;
        padding-left: rem(15);
        padding-right: rem(15);
        border: 1px solid #BCBCBC;
        box-sizing: border-box;
        border-radius: 5px;

        &::placeholder {
            color: $main;
        }
    }

    & textarea {
        min-height: 120px;
        max-width: 100%;
        resize: vertical;
        width: 100%;
        border: 1px solid #BCBCBC;
        border-radius: 5px;
        font-size: 14px;
        padding-left: rem(15);
        padding-right: rem(15);

        &:focus {
            outline: none !important;
        }
    }

    // &__item {
    //     // display: flex;
    //     // align-items: center;
    //     // margin: -10px;
    // }

    // &__subitem {
    //     // flex-grow: 1;
    //     // width: 100%;
    //     // padding: 12px 10px;
    // }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: $w760) {
            flex-direction: row;
            margin: -10px;
        }
    }

    &__subitem {
        flex-grow: 1;
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;


        & .form__item {
            & .form__subitem {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (min-width: $w760) {
            padding: 12px 10px;
            margin-bottom: 0;
        }
    }

    &__label {

        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: $main;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    & fieldset {
        border: none;
        padding: 0;
        margin-top: rem(40);


        &:first-child {
            margin-top: rem(0);
        }
    }

    & legend {
        margin-bottom: rem(30);
    }

    & .af-select {
        height: 52px;
        border: 1px solid #BCBCBC;
        box-sizing: border-box;
        border-radius: 5px;

        & .select-options li {
            max-width: none;
        }
    }



}