mixin all-films

    
     
    .all-films__tabs
        ul
            li
                 
                select(placeholder="Тип конкурса")
                    option( value="" selected) Международный 
                    option( value="" ) Российский 
                    option( value="" disabled) Спецпоказы 
            li
                +select-edit('2. Участие', ['В конкурсе','Вне конкурса'])
            li
                +select-edit('3. Программа', ['Полный метр','Kороткий метр','Анимационный', 'Документальный'])
            
    .all-films__list
        each item in moderator.films
            .all-films__item(class=(item.light ? 'all-films__item--light':'')): +minicard-film(item)

mixin all-films-group

    .block-info
        | <strong>Номинации:</strong> <br>
        | - Гран-при <br>
        | - Приз За новизну оптики и поиск художественной формы <br>
        | - Специальный приз жюри
     
    .all-films__tabs.all-films__tabs--group
        ul
            li
                select(placeholder="Показать" data-scroll="group")
                    option( value=0 selected) Все фильмы
                    option( value="1" ) Не просмотренные 
                    option( value="2" ) Не поставлены оценки 
                    option( value="3" ) Просмотренные 
           
            
    .all-films__group
        .film-group
            .film-group__title.film-group__title--not-viewed(data-scroll-group="1")  Не просмотренные
            .film-group__list
                each item in moderator.films
                    .film-group__item: +minicard-film(item)
        .film-group
            .film-group__title.film-group__title--not-vote(data-scroll-group="2")  Не поставлены оценки
            .film-group__list
                each item in moderator.films
                    .film-group__item: +minicard-film(item)
        .film-group
            .film-group__title.film-group__title--viewed(data-scroll-group="3")  Просмотренные
            .film-group__list
                each item in moderator.films
                    .film-group__item: +minicard-film(item)
                


mixin minicard-film(data)
    .minicard-film
        .minicard-film__image
            .minicard-film__cover: +picture(data.image)
            .minicard-film__censor
                span(title="Возрастные ограничения 12+") 12+
            .minicard-film__rate
                span(style="background-color: "+data.colorRate+"")= data.rate
            .minicard-film__details
                ul
                    li
                        span Программа:
                        span Полный метр
                    li
                        span Страна:
                        span США
                    li
                        span Жанр:
                        span Боевик
                    li
                        span Рейтинг зрителей:
                        span 6.2

        .minicard-film__title: a(href=data.link)= data.title
        .minicard-film__year=data.year
        .minicard-film__country
            .minicard-film__flags
                ul
                    li: +bgimage('/img/flags/ru.svg')
                    li: +bgimage('/img/flags/de.svg')
            .minicard-film__duration 85 мин