include ../helpers/mixins.pug

.film-preview

    .film-preview__left
        .film-preview__cover
            +picture('/img/common/cover5')
            .film-preview__censor: span 12+
    
    .film-preview__right

        .film-preview__title Трое

        .film-preview__prop
            .film-preview__year
                ul
                    li Российский конкурс
                    li Полный метр
                    li 2020
                    li 122 мин.

        .film-preview__list
            ul
                li
                    small Жанр:
                    span Драма
                li
                    small Страна:
                    span Россия
            ul
                li
                    small Режиссер:
                    span: a(href='director-details.html') Анна Меликян                       
                li
                    small Оператор:
                    span Анна Меликян
            ul
                li
                    small Продюсер:
                    span Николай Желудович     
                li
                    small Звукорежиссер:
                    span Константин Познеков 
                li
                    small Художник по костюмам:
                    span Екатерина Джагарова   

        .film-preview__description Московский психолог, автор мотивационных роликов Злата считает, что у них с Сашей прекрасный брак, который помог им обоим реализовать себя и подарил десять лет образцовой совместной жизни — для полноценного счастья не хватает только ребенка. Саша же, видимо, считает иначе, потому что втайне от жены он встречается с другой женщиной. Ее зовут Вероника, она живет в Петербурге, проводит экскурсии и увлекается поэзией. Вероника помогла Саше выбраться из воды, когда он попытался утопиться с увесистой телепремией на шее. Успешный шоумен-комик, безропотный муж, нежный влюбленный, — он разрывается между несколькими ролями, между двумя столицами, между очень разными женщинами. Но всегда ли возможно сделать выбор?
        
        .film-preview__grade
            .film-grade
                .film-grade__title Оценка зрителей
                .film-grade__wrp
                    .film-grade__total: span 6.4

        
                    