extends ../layouts/site-gray

include ../../blocks/modules/about/about-main/about-main
include ../../blocks/modules/about/about-advice/about-advice
include ../../blocks/modules/about/about-founder/about-founder
include ../../blocks/modules/about/about-history/about-history
include ../../blocks/modules/about/about-team/about-team
include ../../blocks/modules/about/about-media/about-media

block variables
  include ../../data/data.pug
  - const title = "О фетивале - PFF"


block content
  .fp-about
    .splide(data-slider="about")
        .splide__track
          .splide__list
            .splide__slide: +about-main()
            .splide__slide: +about-history()
            .splide__slide: +about-advice()
            .splide__slide: +about-founder()
            .splide__slide: +about-team()
            .splide__slide: +about-media()
    
    .fp-about__nav
      .fp-about__nav-slide Фестиваль
      .fp-about__nav-action
        .fp-about__nav-prev: +icons('#ic_arr-back', 20)
        .fp-about__nav-dots
          ul
            li: span.dots-slider
            li: span.dots-slider.is-active
            li: span.dots-slider
            li: span.dots-slider
            li: span.dots-slider
        .fp-about__nav-next: +icons('#ic_arr-next', 20)

      



block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  script(src="/js/main.js")

 
