extends ../layouts/site-gray

include ../../blocks/modules/about/about-main/about-main
include ../../blocks/modules/about/about-advice/about-advice
include ../../blocks/modules/about/about-founder/about-founder
include ../../blocks/modules/about/about-history/about-history
include ../../blocks/modules/about/about-team/about-team
include ../../blocks/modules/about/about-media/about-media

block variables
  include ../../data/data.pug
  - const title = "Дневник фестиваля - PFF"


block content
  
      



block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  script(src="/js/main.js")

 
