extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "PFF"


block content
  .container
      .page-text
        .page-text__h1: h1 События

        .page-text__acticle.formated-text  

    
          h2 Встреча с режиссером Алексеем Германом и кинопоказ фильма «Дело»
          p В рамках «Cinema Night» на Startup Village кинофестиваль Patriki Film Festival представил фильм «Дело». <br> Перед кинопоказом прошла встреча с режиссером Алексеем Германом. Модератором выступил Алексей Боков – основатель кинофестиваля Patriki Film Festival
          p: strong: a(href='https://patrikifilmfestival.ru/tpost/e0u2lsyx81-vstrecha-s-rezhisserom-alekseem-germanom' target="blank") Подробнее

          br
          br
          
          h2 25 МАЯ 18.00
          p Кинофестиваль Patriki Film Festival представляет показ фильма «Дело» и встречу с режиссером Алексеем Германом <br> в рамках Cinema Night Сколково Startup Village.
          p: strong: a(href='https://patrikifilmfestival.ru/tpost/2n3kd7gjf1-kinopokaz-filma-delo' target="blank") Подробнее

          br
          br

 

block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
 
