extends ../layouts/site-dark
include ../../blocks/modules/site/page-film/page-film.pug
include ../../blocks/modules/site/page-film/user-review.pug
 

block variables
  include ../../data/data.pug
  - const title = "PFF"


block content
    .container
        .page-site
            .page-site__breadcrumbs
                ul
                    li: a(href='#') Главная
                    li: a(href='#') Кинозал                 
                    li: a(href='#') Трое                 

            .page-site__content 
                +page-film({
                    grade: true,
                    note: true
                })
                +user-review
                +film-comments()
                 