extends ../layouts/moderator
include ../../blocks/modules/moderator/profile-block/profile-block.pug
include ../../blocks/modules/moderator/head-moderator/head-moderator.pug



block variables
  include ../../data/data.pug
  -
    title = 'Профиль'


block content
  +head-moderator({
    nav: [
      'Главная',
      'Личный кабинет',
      'Профиль',
    ],

    title: 'Профиль',
    button: false
  })

  

  .main-moderator
    +profile-block-jury()

block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")
    script(src="/js/lib/OverlayScrollbars.min.js")
    script(src="/js/moderator.js")

