extends ../layouts/jury
include ../../blocks/modules/jury/jury-rating/jury-rating.pug
include ../../blocks/modules/moderator/head-moderator/head-moderator.pug



block variables
  include ../../data/data.pug
  -
    title = 'Рейтинги'


block content
  +head-moderator({
    nav: [
      'Главная',
      'Личный кабинет',
      'Рейтинги',
    ],

    title: 'Рейтинги',
    button: false
  })

  

  .main-moderator
    +jury-rating()

block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")
    script(src="/js/lib/OverlayScrollbars.min.js")
    script(src="/js/moderator.js")

