extends ../layouts/page
include ../../blocks/modules/common/page-404/page-404.pug



block variables
  include ../../data/data.pug
  -
    title = 'Войти'


block content
  +page-404


block scripts
  script(src="/js/common.js")



