extends ../layouts/moderator
include ../../blocks/modules/moderator/moderator-directors-card/moderator-directors-card.pug
include ../../blocks/modules/moderator/head-moderator/head-moderator.pug



block variables
  include ../../data/data.pug
  -
    title = 'Карточка режиссера'


block content
  +head-moderator({
    nav: [
      'Главная',
      'Личный кабинет',
      'Карточка режиссера',
    ],

    title: 'Карточка режиссера',
    button: false
  })

  

  .main-moderator
    +moderator-directors-card()

block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")
    script(src="/js/lib/OverlayScrollbars.min.js")
    script(src="/js/moderator.js")

