extends ../layouts/moderator
include ../../blocks/modules/moderator/messenger/messenger.pug
include ../../blocks/modules/moderator/head-moderator/head-moderator.pug



block variables
  include ../../data/data.pug
  -
    title = 'Сообщения'


block content
  +head-moderator({
    nav: [
      'Главная',
      'Личный кабинет',
      'Сообщения',
    ],

    title: 'Сообщения',
    button: false
  })

  

  .main-moderator
    +messenger()
