extends ../layouts/moderator
include ../../blocks/modules/moderator/head-moderator/head-moderator.pug
include ../../blocks/modules/moderator/film-poster/film-poster.pug 
include ../../blocks/modules/moderator/film-add/film-add.pug 



block variables
  include ../../data/data.pug
  -
    title = 'Добавить фильм'


block content
  +head-moderator({
    nav: [
      'Главная',
      'Личный кабинет',
      'Добавить фильм',
    ],

    title: 'Добавить фильм',
    button: false
  })

  

  .main-moderator
    form(action='#' method='get' onsubmit=" ")
      .layout-column
        .layout-column__left: +film-poster()
        .layout-column__right: +film-add() 



