extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "PFF"


block content

  include ../../blocks/modules/page-member/page-member.pug

  .container
     
    +page-member()
      
    .participant.formated-text(style="display: none" id="participant")
    
      h3 Положение о проведении 4-го кинофестиваля «Patriki Film Festival».
      h4 Статья 1 
      p
        | Ежегодный международный открытый кинофестиваль «Patriki Film Festival», (далее – «Фестиваль») является смотром-конкурсом фильмов, получивших экспертную оценку членов отборочной комиссии.
      h4 Статья 2
      p
        | Задача Фестиваля — презентация новых кинопроектов, поддержка творческих поисков кинематографистов, объединение профессионалов и любителей кино, презентация кинопроектов, премьеры фильмов со всего мира.
      h4 Статья 3
      p
        | 4-ый международный открытый кинофестиваль «Patriki Film Festival» проходит в Москве с 20 декабря 2021 года по 22 августа 2022 года.
      h4 Статья 4
      strong Программа фестиваля включает: 
      ul
        li Основной конкурс; 
        li Онлайн показы; 
        li  Внеконкурсный показ; 
        li Ретроспективный показ; 
        li
          | Мастер-классы, пресс-конференции, спецпоказы, конференции, презентации проектов;
          | Культурно-развлекательная программа
        li
          | (Решение о проведении культурной программы фестиваля будет
          | зависеть от текущей эпидемиологической обстановки на момент проведения фестиваля)
      h4 Статья 5
      p
        | Отбор фильмов для участия в Фестивале осуществляет отборочная комиссия.
        | Прием фильмов для рассмотрения отборочной комиссией осуществляется через сайт https://patrikifilmfestival.ru.
        | Продлили крайний срок подачи заявок на фестиваль до 30 апреля 2022 года.
        | В программах фестиваля могут участвовать только фильмы, ранее не демонстрировавшиеся публично.
        | Программу работы Фестиваля и порядок демонстрации фильмов определяет Дирекция Фестиваля. Каждый фильм может быть показан в течение фестиваля не более пяти раз, включая показы для прессы.
      h4 Статья 6
      p
        | В конкурсных программах отдается предпочтение мировым и международным премьерам.
        | В Основном конкурсе принимают участие не менее 7 фильмов.
        | Для участия в основной конкурсной программе Фестиваля принимаются художественные полнометражные фильмы продолжительностью не менее 60 (шестидесяти) минут, не транслировавшиеся по телевидению, не выходившие в кинотеатральный, DVD и VoD-прокат, не размещенные в свободном доступе в сети Интернет, не размещенных в онлайн-кинотеатрах и на онлайн-платформах, и не имевших публичных показов. В случае отбора цифровые копии фильма предоставляются в сроки, указанные в регистрационной форме, только в формате Digital Cinema Package (DCP).
      p
        | Демонстрационные копии фильмов, участвующих в Конкурсах фестиваля, должны быть на языке оригинала с английскими субтитрами, в случае если оригинальный язык не английский.
        | Копии фильмов, участвующих в Конкурсах фестиваля, должны быть переданы Дирекции Фестиваля не позднее 30 апреля 2022 г. Фильмы, присланные после указанных сроков, не рассматриваются.
      p
        | Статья 7
        | Окончательное решение о включении фильма в конкурсную программу Фестиваля принимает Отборочная комиссия, которая оставляет за собой право не объяснять причину отказа и не давать комментариев.
      h4 Статья 8 
      p
        | Картины, участвующие во внеконкурсной программе, не должны быть ранее демонстрированы на территории Российской Федерации.
        | В Ретроспективных программах фильмы демонстрируются в формате 35 мм или в формате DCP. Для внеконкурсных программ предпочтительным форматом является DCP на языке оригинала с английскими субтитрами, в случае если оригинальный язык не английский.
        | Носители должны быть переданы Дирекции Фестиваля  не позднее 30 апреля 2022 г.
      h4 Статья 9 
      p
        | Все условия и сроки являются обязательными к исполнению, в ином случае Дирекция Фестиваля оставляет за собой право исключить фильм из программы кинофестиваля.
      h4 Статья 10
      p
        | В рамках проведения Фестиваля фильмы конкурсной или любой другой программы могут быть показаны не более 3 (трех) раз без письменного разрешения продюсера фильма или его полномочного представителя
      h3 Документация
      h4 Статья 11
      strong
        | В случае принятия решения о включении фильма в программу Фестиваля, путем получения официального приглашения, и  подтверждения участия, в адрес Дирекции необходимо направить документацию, информационные и промо-материалы в соответствии с регистрационной формой участника Фестиваля в сроки, определенные Дирекцией Фестиваля.
      strong
        | Одновременно с сообщением об участии в адрес Дирекции Фестиваля должны быть направлены следующие документы:
      ul
        li
          | регистрационная форма, заверенная подписью и печатью с указанием наличия или отсутствия в фильме кадров/сцен употребления алкоголя и табака, сцен насилия, сцен содержания допустимой ненормативной лексики (употребление нецензурной брани), заполненная в соответствии с данными удостоверения национального фильма (УНФ) и прокатного удостоверения (ПУ), выданных уполномоченным органом и действительными на момент проведения Фестиваля.
        li     удостоверение национального фильма (УНФ)
        li
          | копия прокатного удостоверения (ПУ)
        li
          | заверенный подписью и печатью Договор о передаче прав на публичное исполнение (показ) аудиовизуального произведения с правообладателем указанным в удостоверении национального фильма (УНФ) или прокатном удостоверении (ПУ), выданными уполномоченным органом и действительными на момент проведения Фестиваля;
        li
          | Полный текст фильма в оригинале и на одном из следующих языков: русском, английском;
        li
          | Субтитровый лист на английском языке, онлайн просмотровка/DVD с английскими субтитрами;
        li
          | материалы для каталога (синопсис, биография и фильмография режиссера, фотография режиссера, фотографии или стоп-кадры из фильма (изображения главных героев фильма) — желательно крупные планы, рекламные материалы, пресс-материалы, Материалы для каталога (сведения о создателях фильма, фотографии).
        li  трейлер для использования в рекламных, имиджевых, презентационных целях; 
        li
          | нарезка фильма для использования в Торжественных Церемониях Открытия и Закрытия Фестиваля (без наличия сцен употребления алкоголя, табака, наркотиков и не содержащих любовных сцен, и сцен насилия в соответствии с возрастным ограничением 0+
        li плакаты фильма (основной имидж) — только формат А1 (не возвращаются);
        li
          | материалы для сайта Фестиваля (пресс-релиз, фотографии/стоп-кадры из фильма (изображение главных героев фильма — крупные планы.
      h4 Статья 12
      p
        | Копии фильмов, отобранных для конкурсной и официальных программ Фестиваля, не должны содержать никаких рекламных материалов, прикрепленных к фильму. В случае их наличия — Дирекция Фестиваля оставляет за собой право не осуществлять показ фильма и потребовать другую копию.
      h4 Транспортировка и страхование фильмокопий
      h3 Статья 13
      p
        | Дирекция осуществляет транспортировку копий к месту показа и обратно. Копии фильмов забираются из Дирекции Фестиваля не позднее указанного числа.
      h3 Гости
      h4 Статья 13
      p
        | Вопросы о приглашении гостей, сроках и условиях их пребывания и аккредитации на фестивале решает Дирекция Фестиваля.
        | Заявки на аккредитацию должны быть переданы Дирекции Фестиваля не позднее март 2022 г.
      h3 Жюри
      h4
        | Статья 14
      p
        | Для оценки конкурсных фильмов создаются Международное жюри Основного конкурса. Режиссер Даррен Аронофски возглавит жюри кинофестиваля «Patriki Film Festival».
        | Фильмы конкурсной программы оценивает основное Жюри, состоящее из ведущих мастеров культуры и кино.
      p
        | В состав Жюри не могут входить лица, участвующие в создании или коммерческом прокате конкурсных картин. Жюри не имеет права не присуждать приз по какой-либо из номинаций или делить призы внутри номинаций. Все члены Жюри обязуются воздерживаться от публичных высказываний по поводу конкурсных картин до оглашения результатов на Торжественном Закрытии Фестиваля.
      h3 Призы
      h4
        | Статья 15
      strong  Международное жюри Основного конкурса присуждает следующие призы статуэтки
      ul
        li Главный приз - за лучший фильм (вручается режиссеру  фильма);
        li
          | Специальный приз жюри - (вручается в соответствии с решением жюри);
        li
          | Приз за инновационность.
      strong
        | На фестивале также учреждены следующие призы: 
      ul
        li
          | Приз «Independent Media» за лучший фильм Основного конкурса (вручается режиссеру фильма);
        li
          | Приз зрительских симпатий лучшему фильму Основного конкурса в соответствии с результатами опроса зрителей (вручается режиссеру фильма);
        li  Предполагается личное участие призеров в церемониях награждения.
      h3 Заключительные положения
      h4 Статья 16
      p
        | Участие в фестивале предусматривает соблюдение всех пунктов настоящего Положения.
      h4
        | Статья 17
      p
        | На кинофестивале будут соблюдены все рекомендованные меры безопасности. В этом году в связи с определенными ограничениями и правилами проведения кинопоказов и других мероприятий.
        | Все гости и участники обязаны соблюдать на кинофестивале санитарно-эпидемиологические рекомендации Роспотребнадзора и обеспечить себя всеми необходимыми средствами защиты самостоятельно.
        | Фестиваль не несет ответственности за здоровье приглашенных гостей и участников.
      h4 Статья 18
      strong Контакты
      br
      a(href='http://www.patrikifilmfestival.ru') www.patrikifilmfestival.ru
      br
      a(href='mailto:info@patrikifilmfestival.ru') info@patrikifilmfestival.ru


block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
 
