mixin about-founder
    section.section-about-founder
        .container
            .about-founder
                .about-founder__title Основатели
                .about-founder__content
                    .about-founder__left
                        +card-founder
                    .about-founder__middle
                        +picture('/img/common/founder')
                    .about-founder__right
                        +card-founder-2


mixin card-founder
    .card-founder
        .card-founder__title Алексей Боков
        .card-founder__desc
            p Событийный продюсер. Запустил программу Сергея Шолохова «Тихий Дом» на Первом канале, до 1999 много работал на телерынке.
            p Продюсировал премию в области современного искусства «Инновация», выставки Айдан Салаховой (ММОМА, Saatchi Gallery), проект Павла Каплевича «ПроЯвление»в Третьяковской галерее, а также в разные годы церемонии ТЭФИ, GQ «Человек года», Международный кинофестиваль им. Андрея Тарковского «Зеркало», фестиваль современной хореографии Context и др
            p Событийный продюсер. Запустил программу Сергея Шолохова «Тихий Дом» на Первом канале, до 1999 много работал на телерынке.
            p Продюсировал премию в области современного искусства «Инновация», выставки Айдан Салаховой (ММОМА, Saatchi Gallery), проект Павла Каплевича «ПроЯвление»в Третьяковской галерее, а также в разные годы церемонии ТЭФИ, GQ «Человек года», Международный кинофестиваль им. Андрея Тарковского «Зеркало», фестиваль современной хореографии Context и др
        .card-founder__more
            span Подробнее

mixin card-founder-2
    .card-founder
        .card-founder__title Марина Жигалова
        .card-founder__desc
           p Инвестор, продюсер, один из ведущих лидеров российского медиарынка.
           p Продюсер более десятка фильмов и сериалов, в том числе «Книга мастеров» (2009), «После школы» (2012), «Последний богатырь» (2017), «Счастье — это. .» (2015, 2019), а также ряда короткометражных фильмов.
           p Председатель жюри короткометражных фильмов 42-го Московского кинофестиваля и жюри кинопрокатчиков фестиваля «Кинотавр» 2015; член жюри
           p Инвестор, продюсер, один из ведущих лидеров российского медиарынка.
           p Продюсер более десятка фильмов и сериалов, в том числе «Книга мастеров» (2009), «После школы» (2012), «Последний богатырь» (2017), «Счастье — это. .» (2015, 2019), а также ряда короткометражных фильмов.
           p Председатель жюри короткометражных фильмов 42-го Московского кинофестиваля и жюри кинопрокатчиков фестиваля «Кинотавр» 2015; член жюри
        .card-founder__more
            span Подробнее


