include ../../components/breadcrumb/breadcrumb.pug

mixin event-detail
    .event-detail
        .event-detail__breadcrumb
            .container
                +breadcrumb([
                    'Главная',
                    'События',
                    'Встреча с режиссером Алексеем Германом и кинопоказ фильма «Дело»',
                ])
        .event-detail__content
        .container
            .event-detail__title: h1 Встреча с режиссером Алексеем Германом и кинопоказ фильма «Дело»
            .event-detail__slider
                .splide(data-slider="main-event")
                    .splide__track
                        .splide__list
                            .splide__slide 
                                .event-card-main__image: +picture('/img/common/events/main')
                            .splide__slide 
                                .event-card-main__image: +picture('/img/common/events/main')

            .event-detail__fulltext.formated-text

            strong 25 мая в рамках «Cinema Night» на Startup Village кинофестиваль Patriki Film Festival представил фильм «Дело». Перед кинопоказом прошла встреча с режиссером Алексеем Германом. Модератором выступил Алексей Боков – основатель кинофестиваля Patriki Film Festival.

            h1 header h1
            h2 header h2
            h3 header h3
            h4 header h4
            h5 header h5

            ul
                li list
                li list
                li list
                li list
                li list

            ol
                li numberlist
                li numberlist
                li numberlist
                li numberlist
                li numberlist

            a(href='#') link

            img(src="/img/common/events/main.jpg")

            p В начале встречи Алексей Герман рассказал о том, как возникла идея создать фильм «Дело» в условиях пандемии: «У меня была серия идей для фильма, которые можно было сделать в одном пространстве, и дальше я отбирал, что мне казалось ближе и интереснее». Главный замысел  «человек в замкнутом пространстве» возник еще до эпидемии и был основан на воспоминаниях, литературе и личных переживаниях.

            p Также, кинорежиссер упомянул звездный актерский состав, задействованный в фильме. Под Мераба Нинидзе, Анну Михалкову и Светлану Ходченкову специально писали сценарий.
            p В ходе беседы поговорили о современных технологиях в киноиндустрии: о фильме «Воздух» и сложных этапах производства этого масштабного проекта. Алексей Герман подтвердил, что в России впервые в экспериментальном порядке использовали такую совокупность разных методов съемки. LED-панели «с вшитыми туда динамическими эффектами», полноразмерные модели самолетов и возможность изменять траекторию полета, специальные подвесы – гимблы, игровой движок Unreal Engine и возможность интегрировать графику прямо в кадр на съемочной площадке. «Это было крайне сложно. Очевидно, что за этим есть будущее. Мы являемся носителями уникального опыта, которого нет ни у кого в Восточной Европе», – сказал Алексей Герман.
            p В завершении режиссер поделился своими мыслями о технологическом будущем российской киноиндустрии. «Виртуальные студии будут развиваться. И будет развиваться система с экранами. Однако, для того чтобы она развивалась, она должна совмещаться с реальными предметами. Это работает только так. Это не работает в отрыве. Мир позади и мир впереди должен быть сложным и многофактурным. У нас пока это не очень умеют делать».