mixin jury-program
    .jury-program
        .jury-program__title Жюри программы
        .jury-program__list
            .item item 
            .item item 
            .item item 
            .item item 
            .item item 
            .item item 