section.section-page-user
    .container
        .page-user
            .page-user__aside
                include ../user-aside/user-aside.pug
            .page-user__content
                block content 