mixin about-main
    section.section-about-main
        .container
            .about-main
                .about-main__left
                    .about-main__title
                        img(src="/img/common/about-title.svg")
                    .about-main__desc Наша миссия  —  поиск новых имен и инновационных подходов в кино

                .about-main__right
                    picture
                        source(srcset="/img/common/main_img.jpg" type="image/jpeg" media="(min-width: 992px)" )
                        img(src="/img/common/about-team-5.jpg")
                     
            
