extends layouts/site
include ../blocks/modules/page-default/page-default

include ../blocks/modules/home/main-banner/main-banner
include ../blocks/modules/home/main-program/main-program
include ../blocks/modules/home/main-events/main-events
include ../blocks/modules/home/main-partners/main-partners


block variables
  include ../data/data.pug
  - const title = "PFF"
 

block content 
  
  
    div#fullpage

      section.section: +main-banner() 
      section.section: +main-program() 
      section.section: +main-events() 
      section.section: +main-partners() 
      section.section.fp-auto-height
        include ../blocks/modules/common/footer/footer-site.pug
 
     



block scripts
  script(src="/js/vendor.js") 
  script(src="/js/lib/splide.min.js") 
  script(src="/js/common.js") 
 
