extends layouts/home
include ../blocks/modules/page-default/page-default

include ../blocks/modules/home/main-banner/main-banner
include ../blocks/modules/home/main-program/main-program
include ../blocks/modules/home/main-events/main-events
include ../blocks/modules/home/main-partners/main-partners
include ../blocks/modules/home/main-advice/main-advice


block variables
  include ../data/data.pug
  - const title = "PFF"
 

block content 
  
      .splide.splide-mobile-disabled-992(data-slider="home")
        .splide__track
          .splide__list
            .splide__slide
              .home-fullpage
                +main-banner() 
            .splide__slide
              .home-fullpage
                +main-program() 
            .splide__slide
              .home-fullpage
                +main-events() 
            .splide__slide
              .home-fullpage
                +main-advice() 
            .splide__slide
              .home-fullpage
                .section-fp-wrap
                  +main-partners() 
                  footer
                    include ../blocks/modules/common/footer/footer-min.pug 

 
        
       
        
 
     



block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  script(src="/js/main.js") 

 
