.film-metrics {
    display: flex;
    padding-top: 12px;

    @media screen and (min-width: $w760) {
        padding-top: 0;
        justify-content: center;
    }

    & ul {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        margin: -5px -10px;

        @media screen and (min-width: $w992) {
            margin: -5px -14px;
        }

        & li {

            padding: 5px 10px;
            display: flex;
            align-items: center;

            @media screen and (min-width: $w992) {
                padding: 5px 14px;
            }

            & span {
                font-size: 18px;
                font-weight: 600;
                color: $main;
                margin-left: 0.5em;

                @media screen and (min-width: $w992) {
                    font-size: 20px;
                }

                @media screen and (min-width: $w760) {
                    font-size: 16px;
                }

                @media screen and (min-width: $w576) {
                    font-size: 20px;
                }
            }

            & svg {
                width: 16px;
            }
        }
    }
}


.user-orders {
    &__list {
        & .table-card {
            &__th {
                text-align: center;

                &:nth-child(2) {
                    text-align: center;
                }


            }

            &__td {



                &:first-child {
                    padding: 0;

                    &::before {
                        display: none;
                    }
                }

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    width: 100%;

                    &::before {
                        display: block;
                        font-size: 12px;

                        @media screen and (min-width: $w760) {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    @media screen and (max-width: $w760) {
                        padding-bottom: 0;
                    }
                }

            }

            &__tr {
                padding: 15px;
            }
        }
    }
}

.user-orders-film {
    display: flex;
    padding-bottom: 15px;

    @media screen and (min-width: $w760) {
        padding-bottom: 0;
    }

    &__poster {
        width: 76px;
        min-width: 76px;

        position: relative;
        z-index: 1;
        border-radius: 5px;

        & picture {
            display: block;
            padding-top: 131%;
            position: relative;
            background-color: #eee;

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }

    &__details {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__code {
        color: $main2;
        font-size: 13px;
        font-weight: normal;
    }

    &__name {

        & a {
            font-size: 13px;
            font-weight: 600;
            @include line-clamp(3);

            &:hover {
                text-decoration: underline;
            }
        }

    }
}

.status-order {

    min-width: 150px;
    display: block;
    color: $main2;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 5px;

    @media screen and (min-width: $w760) {
        padding-left: 20px;
        padding-top: 0px;
    }

    &::before {
        content: '';
        display: inline-block;
        min-width: 12px;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        background-color: $main2;
        border-radius: 50%;

    }

    &--green {
        color: $green;

        &::before {
            background-color: $green;
        }
    }

    &--orange {
        color: $orange;

        &::before {
            background-color: $orange;
        }
    }
}