mixin user-orders
    .user-orders
        .user-orders__list
            .table-card
                .table-card__tr
                    .table-card__th Фильм
                    .table-card__th Просмотры / Комментари / Сообщения / Рейтинг
                    .table-card__th Статус
                //- =======================================
                //- =======================================

                each item, index in moderator.orders
                    .table-card__tr
                        .table-card__td(data-title="Фильм")
                            .user-orders-film
                                .user-orders-film__poster
                                    a(href='/user-edit.html'): +picture('/img/common/cover'+index)
                                .user-orders-film__details
                                    .user-orders-film__name: a(href='/user-edit.html')= item.name
                                    .user-orders-film__code 22-00650
                        .table-card__td(data-title="Просмотры / Комментари / Сообщения / Рейтинг")
                            +metric
                        .table-card__td(data-title="Статус")
                            if item.state
                                span.status-order.status-order--green В конкурсе
                            else
                                span.status-order.status-order--red Отклонен
mixin metric
    .film-metrics
        ul
            li
                +icons('#ic_eye', 16)
                span 98
            li
                +icons('#ic_comment', 16)
                span 21
            li
                +icons('#ic_mail', 16)
                span 2
            li
                +icons('#ic_star', 16)
                span 2