mixin page-default
    section.section-page-default
        .container
            .page-default
                .page-default__title МЕЖДУНАРОДНЫЙ ОНЛАЙН КИНОФЕСТИВАЛЬ
                .page-default__day
                    .page-default__text Срок подачи заявок
                    .page-default__date
                        .page-default__date-month Апрель
                        .page-default__date-year 2022
                        .page-default__date-link: a(href='#'): +icons('#ic_arr-link')