.main-partners {
    &__title {
        @include section_title;
        text-align: left;

        padding-bottom: 20px;

        @media screen and (min-width: $w1440) {
            font-size: 60px;
        }

        @media screen and (max-height: $w760) {
            font-size: 36px;
            padding-bottom: 25px;
        }


    }

    &__list {

        padding-bottom: 30px;

        @media screen and (min-width: $w992) {
            display: flex;
            margin: -20px;
        }

        @media screen and (min-width: $w1440) {
            display: flex;
            margin: -35px;
            padding-top: 20px;
        }
    }

    &__item {

        margin-bottom: 10px;


        @media screen and (min-width: $w1440) {
            padding: 35px;
        }

        @media screen and (min-width: $w992) {
            width: 100%;
            padding: 20px;
            max-width: 50%;
        }
    }

}

.card-partners {
    &__video {
        & a {
            display: block;
            padding-top: 45%;
            background-color: #eee;
            position: relative;

            & video {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}



.partners-footer {
    height: 100%;
}

.partners-footer .fp-overflow {
    height: 100%
}

.section-fp-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.section-fp-wrap footer {
    margin-top: auto
}