mixin main-partners
    section.section-main-partners
        .container
            .main-partners
                .main-partners__title  Партнеры
                .main-partners__list
                    .main-partners__item
                        .card-partners
                            .card-partners__video
                                a(href='https://imedia.ru')
                                    video(style='object-fit: cover; background-size: cover; width: 100%; height: 100%' preload='auto' playsinline='' autoplay='' loop='' muted='' data-keepplaying='')
                                        source(src='https://dev.patrikifilmfestival.ru/video/Independent Media_short.mp4' type='video/mp4')
                                        source(src='https://dev.patrikifilmfestival.ru/video/Independent Media_short.webm' type='video/webm')
                    .main-partners__item
                        .card-partners
                            .card-partners__video
                                a(href='https://start.ru')
                                video(style='object-fit: cover; background-size: cover; width: 100%; height: 100%' preload='auto' playsinline='' autoplay='' loop='' muted='' data-keepplaying='')
                                    source(src='https://dev.patrikifilmfestival.ru/video/start_lp.mp4' type='video/mp4')
                                    source(src='https://dev.patrikifilmfestival.ru/video/start_lp.webm' type='video/webm')



               
