.section-main-banner {
    @media screen and (max-width: $w480) {
        // padding-top: 116px;
    }
}

.main-banner {

    padding: 20px 0;

    @media screen and (min-width: $w1200) {
        display: flex;
        margin: 0 -10px;
    }

    &__small {
        display: none;
        padding-top: 0;



        @media screen and (min-width: $w1200) {
            display: block;
            width: 24%;
            margin: 0 10px;

            & picture {
                display: block;
                height: 100%;
                position: relative;


                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding: 14px 0;
                }

            }

        }
    }

    &__large {
        @media screen and (min-width: $w1200) {
            width: 76%;
            margin: 0 10px;
        }
    }



    &__slider {


        & .splide {

            &__slide {
                & picture {
                    position: relative;
                    background-color: #eee;
                    display: block;

                    @media screen and (min-width: $w1200) {
                        padding-top: 56%;
                    }

                    @media screen and (max-height: $w760) {
                        padding-top: 50%;
                    }

                    & img {

                        width: 100%;

                        @media screen and (min-width: $w1200) {
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            object-fit: cover;
                        }
                    }
                }
            }

            &__pagination {
                position: relative;
                padding-top: 15px;

                &__page {
                    background-color: #ABA9BC;
                    border-radius: 0;
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    transform: none;
                    margin: 0 9px;

                    &.is-active {
                        transform: none;
                        background-color: $main;
                    }
                }
            }
        }

    }
}

.button-play {
    width: 10px;
    height: 14px;
    box-sizing: border-box;
    transition: border 200ms;
    cursor: pointer;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    display: block;
}

.button-play.play {
    border-top: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid $main;
}

.playing .button-play,
.button-play.pause {
    border-top: 0px solid transparent;
    border-right: 3px solid $main;
    border-bottom: 0px solid transparent;
    border-left: 3px solid $main;
    width: 9px;
    height: 14px;
}

li.button-play {
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.main-banner__slider .splide__pagination {
    position: relative;
    padding-top: 20px;
    justify-content: flex-end;
}

.fp-watermark {
    display: none;
}