.dark-mode {

    & .footer {
        &__nav ul a {
            color: #fff;
        }

        &__social {
            & svg {
                fill: #fff;
            }

            & a {
                color: #fff;
            }
        }

        &__contact {
            & a {
                color: $gray-74;
            }
        }

        &__logo {
            &-desc {
                color: $gray-74;
                font-weight: 500;
            }
        }
    }
}