.user-aside
  .user-aside__wrp
    .user-aside__photo
      +picture('/img/common/user-wooman')
    .user-aside__name Анастасия Старовойтова
    .user-aside__email annaStar@mail.ru
    
    .user-aside__nav
      ul
        each item,index in app.userNav
          li: a(href=item.href class=(index == 1 ? 'badge':''))= item.text

  .user-aside__form
    .invite-member(id="invite-member")
      .invite-member__back(data-invete-form="close")
        +icons('#ic_arr-back-popup', 10) 
        span Назад в меню
      .invite-member__title Пригласить участника
      .invite-member__form
        form(action='#' method='POST' data-form="invite-member") 
          .invite-member__label Язык приглашения
          .invite-member__lang
            +radio('Русский', 'lang', 'val', true)
            +radio('Английский', 'lang', 'val')
          .invite-member__fields
            .form
              .form__item: .form__subitem: +input-material('email', 'Email')
              .form__item: .form__subitem: +input-material('text', 'Тема')
              .form__item: .form__subitem: textarea(placeholder="Текст приглашения")
              .form__item
                .form__subitem: button.btn.btn-large Отправить 
      
