mixin about-advice
    section.section-about-advice
        .container
            .about-advice 
                .about-advice__head
                    .about-advice__title Попечительский совет
                .about-advice__list
                    .about-advice__item

                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s1')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.

                        

                    .about-advice__item

                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s2')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.

                        

                    .about-advice__item

                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s3')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.

                        

                    
                                     