mixin main-advice
    section.section-main-advice
        .container
            .main-advice
                .main-advice__head
                    .main-advice__title Попечительский совет
                .main-advice__list
                    .main-advice__item
                        +picture('/img/common/s1')
                    .main-advice__item
                        +picture('/img/common/s2')
                    .main-advice__item
                        +picture('/img/common/s3')
                    
                                     