mixin main-advice
    section.section-main-advice
        .container
            .main-advice
                .main-advice__head
                    .main-advice__title Жюри
                    .main-advice__nav
                            .main-advice__nav-next(data-slider-prev="main-advice"): +icons('#ic_arr-back')
                            .main-advice__nav-prev(data-slider-next="main-advice"): +icons('#ic_arr-next')
                .main-advice__list
                    .main-advice__slider

                        .splide(data-slider="main-advice")
                            .splide__track
                                .splide__list
                                    .splide__slide

                                        .main-advice__item
                                            .card-advice
                                                .card-advice__image
                                                    +picture('/img/common/jury/j1')
                                                .card-advice__desc
                                                    .card-advice__text
                                                        h3 Александр Цыпкин
                                                        p Александр Цыпкин — российский писатель, публицист, сценарист, эксперт по стратегическим коммуникациям, создатель литературно-театрального проекта «БеспринцЫпные чтения».
                                                        p Фильмография: «Про любовь. Только для взрослых» (2017), «Прощай, любимый!» (2017), «Окно» (2018), «Нежность» (2018), «Вцвет» (2018), «Тёмная как ночь. Каренина 2019» (2019), «Ты его любила?» (2019), «Эвтаназия» (2019), «#этоневажно» (2019), «Утренний секс» (2019), «Беспринципные» (2020), «Что делать женщине, если у нее два любовника, а выбрать нужно одного» (2022).
                                                    .card-advice__more
                                                        span Подробнее
                                    .splide__slide
                                        .main-advice__item
                                            .card-advice
                                                .card-advice__image
                                                    +picture('/img/common/jury/j2')
                                                .card-advice__desc
                                                    .card-advice__text
                                                        h3 Алексей Герман
                                                        p Алексей Герман — российский кинорежиссёр и сценарист, многократный лауреат международных кинематографических премий. 
                                                        p Фильмография: «Гарпастум» (2005), «Бумажный солдат» (2008), «Короткое замыкание» — новелла «Ким» (2009), «Под электрическими облаками» (2015), «Довлатов» (2018), «Дело» (2021), «Воздрух» (2023) и другие.
                                                        p Лауреат «Венецианского кинофестиваля» «Серебряный лев» (2008), Трехкратный лауреат премии «Ника» (2004, 2006, 2009). Многократный участник Берлинского, Венецианского и Каннского кинофестивалей.
                                                    .card-advice__more
                                                        span Подробнее
                                    .splide__slide        
                                        .main-advice__item
                                            .card-advice
                                                .card-advice__image
                                                    +picture('/img/common/jury/j3')
                                                .card-advice__desc
                                                    .card-advice__text
                                                        h3 Михалкова Надежда                                                    
                                                        p Михалкова Надежда — российская актриса театра, кино и дубляжа, кинорежиссёр, продюсер, телеведущая.
                                                        p Фильмография: «Утомленные солнцем» (1994), «Сибирский цирюльник» (1998), «Утомленные солнцем 2: Предстояние» (2010), «Нелюбимая» (2012), «Московский романс» (2019), «Батя» (2020), «Изоляция» (2020) и другие.
                                                    .card-advice__more
                                                        span Подробнее
                                    .splide__slide    
                                        .main-advice__item
                                            .card-advice
                                                .card-advice__image
                                                    +picture('/img/common/jury/j4')
                                                .card-advice__desc
                                                    .card-advice__text
                                                        h3 Юлия Миндубаева
                                                        p Юлия Миндубаева — гендиректор холдинга Start. Вошла в топ-1000 российских менеджеров.
                                                        p Под её руководством в 2020 году по итогам премии Ассоциации продюсеров кино и телевидения проекты START получили шесть наград: за лучший художественный полнометражный фильм, лучший телевизионный мини-сериал (5—24 серии), лучшую сценарную работу (Наталия Мещанинова, Степан Девонин и Илья Тилькин), лучшую режиссёрскую работу (Борис Хлебников), а также в номинациях «Лучший актёр телевизионного фильма/сериала» (Александр Робак) и «Лучший актёр второго плана в телевизионном фильме/сериале» (Максим Лагашкин).
                                                        p 21 октября 2021 года сериал «Пассажиры» победил в номинации Short Form международной премии Seoul International Drama Awards.
                                                        p В июне 2022 года сериал «Жиза» победил в номинации «Оригинальное режиссерское видение» на фестивале контента стриминговых платформ ORIGINAL+.
                                                        p В июле 2022 года на IV российском фестивале сериалов «Пилот» проекты START получили несколько наград: открытием фестиваля стал Антон Артемьев из «Цыцгендера», награду за лучший сценарий забрал «Цыцгендер» (авторы: Радик Рахимов и Дамир Мифтахов), лучшим актером признан Филипп Янковский («Приход»), а главная награда фестиваля у «Прихода» (режиссер — Резо Гигинеишвили).
                                                        p В сентябре 2022 года сериал Наталии Мещаниновой «Алиса не может ждать» получил две награды на первом фестивале онлайн-кинотеатров «Новый сезон» в номинациях «Самый ожидаемый сериал» и «Героиня Нового сезона» (Лиза Ищенко). Председателем Попечительского совета фестиваля в 2022 году стал Эдуард Илоян[45].
                                                    .card-advice__more
                                                        span Подробнее

                                    .splide__slide        
                                        .main-advice__item
                                            .card-advice
                                                .card-advice__image
                                                    +picture('/img/common/jury/j3')
                                                .card-advice__desc
                                                    .card-advice__text
                                                        h3 Михалкова Надежда                                                    
                                                        p Михалкова Надежда — российская актриса театра, кино и дубляжа, кинорежиссёр, продюсер, телеведущая.
                                                        p Фильмография: «Утомленные солнцем» (1994), «Сибирский цирюльник» (1998), «Утомленные солнцем 2: Предстояние» (2010), «Нелюбимая» (2012), «Московский романс» (2019), «Батя» (2020), «Изоляция» (2020) и другие.
                                                    .card-advice__more
                                                        span Подробнее