.section-main-events {
    padding: 40px 0;
}

.main-advice {
    &__head {
        padding-bottom: 35px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include section_title;
        text-align: left;

        @media screen and (min-width: $w1440) {
            font-size: 60px;
        }

        @media screen and (max-height: $w760) {
            font-size: 36px;
            padding-bottom: 0px;
        }

    }

    &__list {
        display: flex;
        //margin: 0 -5px;
        overflow-x: auto;
        margin-right: -15px;
        padding: 10px 0;

        @media screen and (min-width: $w576) {
            justify-content: safe center;
            //margin: 0 -12px;

        }
    }

    &__item {

        //padding: 5px;
        min-width: 90%;


        @media screen and (min-width: $w576) {
            //padding: 0 12px;
            max-width: 33vh;
            min-width: 33vh;
        }


        flex-grow: 1;
        width: 100%;

        & picture {
            @include picture(155%, cover);
        }
    }
}

.card-advice {

    position: relative;

    &:hover {
        & .card-advice {
            &__desc {
                opacity: 1;
                visibility: visible;
                background-color: rgba(75, 74, 92, 0.87);

                & p {
                    transform: translateY(0px);
                }

                & h3 {
                    transform: translateY(0px);
                }
            }
        }
    }


    &__image {
        & picture {
            @include picture(155%, cover);
        }
    }

    &__desc {
        position: absolute;

        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #4b4a5c;
        color: #fff;
        padding: 15px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
        overflow-y: auto;

        & p {
            font-size: 16px;
            line-height: 140%;
            font-weight: 500;
            transform: translateY(10px);
            transition: 0.3s 0.1s ease;
        }

        & h3 {
            font-size: 20px;
            transform: translateY(10px);
            transition: 0.3s ease;
        }
    }
}

.jury-desc {
    background: #525166;
    margin: -15px;
    padding: 45px 40px;
    max-width: 1115px;

    & .card-founder {
        &__more {
            display: none;
        }

        &__desc {
            & p {
                margin-bottom: 15px;
            }
        }
    }


}


.jury-desc {

    @media screen and (min-width: $w760) {
        display: flex;
    }

    & .card-advice__desc {
        position: static;
        opacity: 1;
        visibility: visible;
        background-color: transparent;

        & p {
            color: #fff;
        }

        & h3 {
            text-transform: uppercase;
        }

        @media screen and (min-width: $w760) {
            padding-left: 35px;
        }
    }

    & .card-advice__image {

        width: 100%;

        @media screen and (min-width: $w760) {
            max-width: 250px;
        }
    }
}