mixin main-advice
    section.section-main-advice
        .container
            .main-advice
                .main-advice__head
                    .main-advice__title Жюри
                .main-advice__list
                    .main-advice__item
                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s1')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.
                        

                    .main-advice__item
                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s2')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.
                    
                    .main-advice__item
                        .card-advice
                            .card-advice__image
                                +picture('/img/common/s3')
                            .card-advice__desc
                                h3 Константин Хабенский
                                p Народный артист РФ, заслуженный артист РФ, лауреат Государственной премии Российской Федерации. Режиссер фильма «Собибор», премьера которого прошла во многих столицах мира. Основатель Благотворительного фонда Константина Хабенского.