 .section-about-team {
     position: relative;
     padding: 16px 0;

     @media screen and (min-width: $w1200) {
         padding: 48px 0;
     }
 }


 .about-team {



     &__title {
         @include section_title;
         text-align: left;
         color: #fff;
         padding-bottom: 30px;

         @media screen and (min-width: $w1440) {
             font-size: 60px;
         }
     }

     &__list {



         & .splide {
             max-width: 1510px;
             margin: 0 auto;

             @media screen and (min-width: $w1200) {
                 display: flex;
                 justify-content: center;
             }


             &__slide {}

             &__list {
                 // justify-content: center;
             }

         }

     }

     &__item {

         padding: 5px;
         min-width: 300px;
         width: 300px;

         @media screen and (min-width: $w1440) {
             max-width: 285px;
             min-width: 285px;
             flex-basis: 285px;
         }



         @media screen and (min-width: $w576) {
             padding: 0 12px;
             width: 100%;
             max-width: 220px;
             min-width: 220px;
             flex-basis: 220px;


         }

     }
 }

 .team-member {


     &__post {
         font-size: 16px;
         color: #fff;
         font-weight: 600;
         padding-top: 10px;
     }


     &__name {
         color: #fff;
         text-align: center;
         text-transform: uppercase;
         font-weight: 700;
         font-size: 16px;
         padding-left: 46px;
         padding-bottom: 12px;
     }

     &__img {
         & picture {

             margin-left: -10px;
             width: 100%;
             transform: skew(-10deg);
             background: #403f4f;
             display: block;
             overflow: hidden;
             cursor: pointer;

             @include picture(130%, cover);

             & img {
                 width: 130%;
                 height: 100%;
                 transform: skew(10deg);
                 max-width: none;
                 margin-left: -15%;
                 transition: 0.6s ease;
             }

             &::before {
                 content: '';
                 width: 50px;
                 height: 50px;
                 display: block;
                 background-color: #eee;
                 position: absolute;
                 margin: auto;
                 z-index: 3;
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 transform: skew(10deg) translateY(10px);
                 opacity: 0;
                 transition: 0.3s ease 0.15s;
                 background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDV2MTRNNSAxMmgxNCIgc3Ryb2tlPSIjNTI1MTY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
                 background-size: 24px;
                 background-position: center;
                 background-repeat: no-repeat;

             }

             &:hover {

                 &::before {
                     opacity: 1;
                     transform: skew(10deg) translateY(0);
                 }

                 & img {
                     opacity: 0.5;
                 }
             }
         }
     }

     &__main {
         display: none;
     }
 }

 .af-popup__content {



     & .team-desc {
         display: flex;
         max-width: 1115px;
         margin: -10px;
         padding: 25px;
         background-color: #403f4f;
         color: #fff;
         flex-direction: column;

         @media screen and (min-width: $w992) {
             flex-direction: row;
             padding: 40px;
         }

         & .team-member {
             &__main {

                 @media screen and (max-width: $w992) {
                     padding-left: 0;
                     padding-top: 25px;
                 }



             }

             &__name {
                 @media screen and (max-width: $w992) {
                     padding-bottom: 0;
                 }
             }

             &__img {
                 @media screen and (max-width: $w576) {
                     width: 100%;
                     min-width: auto;
                     max-width: none;
                 }
             }

             &__desc {
                 @media screen and (max-width: $w480) {
                     font-size: 15px;
                 }
             }


         }
     }

     & .team-member {

         &__main {
             display: block;
             padding-left: 30px;
         }

         &__img {

             width: 100%;
             max-width: 300px;
             min-width: 300px;

             & picture {
                 transform: none;
                 padding-top: 100%;
                 margin: 0;
                 background-color: #393847;

                 &::before {
                     display: none;
                 }

                 & img {
                     transform: none;
                     width: 100%;
                     height: 100%;
                     margin: 0;
                 }
             }
         }

         &__name {
             font-weight: 700;
             font-size: 28px;
             line-height: 143%;
             text-transform: uppercase;
             color: #FFFFFF;
             padding-bottom: 10px;
         }

         &__desc {
             font-weight: 400;
             font-size: 18px;
             line-height: 156%;
             color: #FFFFFF;
         }
     }
 }