mixin about-team
    section.section-about-team
        .container
            .about-team
                .about-team__title Наша команда

                .about-team__list
                    .about-team__item
                        .team-member
                            .team-member__img
                                picture.d12
                                    img(src="/img/common/s1.jpg")
                    .about-team__item
                        .team-member
                            .team-member__img
                                picture.d12
                                    img(src="/img/common/s2.jpg")
                    .about-team__item
                        .team-member
                            .team-member__img
                                picture.d12
                                    img(src="/img/common/s3.jpg")
