mixin about-team
    section.section-about-team
        .container
            .about-team
                .about-team__title Наша команда

                .about-team__list
                    .splide(data-slider="about-team")
                        .splide__track
                            .splide__list
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-1.jpg")
                                            .team-member__main
                                                .team-member__name Ирина Миролюбова
                                                .team-member__desc
                                                    p Директор кинофестиваля, Руководитель международного конкурса компании EY “Предприниматель года” и программы “Деловые женщины” в течение последних 8 лет. До этого работала в Международной школе СКОЛКОВО, возглавляла маркетинговый департамент «Dexia банка» и более 10 лет работала в сфере высоких технологий в компаниях Microsoft и CQG. Сегодня - режиссер, ВГИК им. С.А.Герасимова, мастерская Ю.В.Кары.
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-2.jpg")
                                            .team-member__main
                                                .team-member__name Ирина Миролюбова
                                                .team-member__desc
                                                    p Директор кинофестиваля, Руководитель международного конкурса компании EY “Предприниматель года” и программы “Деловые женщины” в течение последних 8 лет. До этого работала в Международной школе СКОЛКОВО, возглавляла маркетинговый департамент «Dexia банка» и более 10 лет работала в сфере высоких технологий в компаниях Microsoft и CQG. Сегодня - режиссер, ВГИК им. С.А.Герасимова, мастерская Ю.В.Кары.
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-3.jpg")
                                            .team-member__main
                                                .team-member__name Ирина Миролюбова
                                                .team-member__desc
                                                    p Директор кинофестиваля, Руководитель международного конкурса компании EY “Предприниматель года” и программы “Деловые женщины” в течение последних 8 лет. До этого работала в Международной школе СКОЛКОВО, возглавляла маркетинговый департамент «Dexia банка» и более 10 лет работала в сфере высоких технологий в компаниях Microsoft и CQG. Сегодня - режиссер, ВГИК им. С.А.Герасимова, мастерская Ю.В.Кары.
                          
