mixin about-team
    section.section-about-team
        .container
            .about-team
                .about-team__title Наша команда

                .about-team__list
                    .splide(data-slider="about-team")
                        .splide__track
                            .splide__list
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-1.jpg")
                                            .team-member__main
                                                .team-member__name Ирина Миролюбова
                                                .team-member__desc
                                                    p Директор кинофестиваля PatrikiFilmFestival. Режиссер. В течении 8 лет бессменный директор конкурсов "Предприниматель года" и "Деловые женщины" компании Ernst&Young.  Высшее филологическое и экономическое образования МГУ им. Ломоносова.  Окончила ВГИК им. С.А. Герасимова, мастерская Ю.В.Кара. Сценарист и режиссер 4 короткометражных фильмов: "Моя Алена", "Исповедь или Оля,Женя и Зоя", "Натурщица", "Параллельный мир".
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-4.jpg")
                                            .team-member__main
                                                .team-member__name Василика Блукет
                                                .team-member__desc
                                                    p Менеджер кинофестиваля PatrikiFilmFestival. Digital аккаунт-менеджер. Организатор фестиваля Moscow Shorts (4 года), член жюри кинофестиваля Ледяная тарелочка. Высшее историческое(МГПУ) и юридическое (РГГУ) образования.
                                .splide__slide
                                    .about-team__item
                                        .team-member(data-team="popup")
                                            .team-member__img
                                                picture.d12
                                                    img(src="/img/common/about-team-5.jpg")
                                            .team-member__main
                                                .team-member__name Ирина Миролюбова
                                                .team-member__desc
                                                    p IT менеджер кинофестиваля PatrikiFilmFestival. Специалист по информационной безопасности и IT сопровождению on-line и off-line проектов в области культуры и образования. Принимал участие в работе над такими проектами как международный кинофестиваль «Зекрало» им.А.Тарковского,  фестиваль современной хореографии Context, фестиваль Сергея Довлатова и др.
                          
