.hall-films {

    &__bar {
        display: flex;
        padding-bottom: 35px;
    }

    &__sort {
        margin-left: auto
    }

    &__find {

        flex-grow: 1;
        max-width: 500px;

        & input {
            height: 52px;
            background-color: $main-dark-1;
            border: none;
            border-radius: 4px;
            padding: 0 50px 0 25px;
            width: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.11111 15.2222C12.0385 15.2222 15.2222 12.0385 15.2222 8.11111C15.2222 4.18375 12.0385 1 8.11111 1C4.18375 1 1 4.18375 1 8.11111C1 12.0385 4.18375 15.2222 8.11111 15.2222Z' stroke='%23525166' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 16.9999L13.1333 13.1332' stroke='%23525166' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;

            color: #fff;
            max-width: 300px;
            transition: 0.3s ease;

            &:hover {
                background-color: $main-dark-2;
            }

            &:focus {
                background-color: $main-dark-2;
                max-width: 100%;
            }

            &::placeholder {
                color: $gray-74
            }
        }
    }

    &__list {
        @include row-flex;
    }

    &__item {
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        padding: 8px;
        border: 1px solid transparent;

        &--light {
            background-color: #E7E6F5;
        }

        @media screen and (min-width: 359px) {
            width: 50%;
            padding: 8px;
        }

        @media screen and (min-width: $w760) {
            width: 33.33%;
            padding: 8px;
        }

        @media screen and (min-width: $w992) {
            width: 25%;
            padding: 10px;
        }

        @media screen and (min-width: $w1440) {
            width: 20%;
            padding: 10px;
        }

    }

    & .minicard-film {
        &__rate {
            display: none;
        }
    }
}