.review-grade(data-popup-html="")
    .review-grade__wrp
        form
            .review-grade__photo: +picture('/img/common/jury/jury1')
            .review-grade__title  рецензия, Елизавета потемкина
            .review-grade__text 
                p Судя по рецензиям, мелодрама Анны Меликян мало кого оставила равнодушным. Каждый интерпретировал одно и то же по-своему, поэтому кто-то высказывался резко-негативно, а кто-то наоборот восхищался глубинным смыслом картины.
                p Я не люблю мелодрамы и с настороженностью отношусь к необычным решениям, как например: фильм с 3 действующими лицами. Фильм решила посмотреть из-за актеров(хоть их всего трое, а интерес вызывают, причём большой), а также потому что фильмы Анны Меликян направлены на то, чтобы показать что-то стоящее, а не просто собрать кассу. Так что это не про коммерцию, а про смысл.
                p Говоря о смысле или о, так сказать, морали этого фильма, вряд ли удастся прийти к единому мнению и дать однозначный ответ. В этом и есть ценность картины: кто-то видит одно, для кого-то в этом «одном» заложен другой смысл, кто-то видит смысл в маленькой детали, кто-то считает это совпадением. И нету правильного ответа на то, что же всё-таки значит эта маленькая деталь и какой истинный смысл фильма.
                p Например: кто-то говорит о том, что Хабенский не справился с ролью и смог изобразить только вечно кривляющегося клоуна, а вот влюбленность в Веронику (Юлию Пересильд) он передать не смог, хотя его герой (Саша Сашин) испытывал ее. А вы уверены, что он действительно любил ее? Или испытывал влюбленность? Я не знаю что именно было по сценарию, но я посчитала, что это далеко не любовь и не влюбленность. Как и было сказано в фильме: «Новый человек приходит в нашу жизнь тогда, когда нам это действительно необходимо» – вот и к Саше Сашину эта «любовь» пришла, когда он пытался свести концы из-за жены, которая ему уже осточертела. Вероника оказалась рядом в момент, когда главный герой уже потерял всякую надежду испытать счастье, поэтому она и была для него глотком свежего воздуха. Я не считаю, что это любовь, это скорее последняя надежда.
            .review-grade__title Ваш комментарий
            .review-grade__add
                .review-grade__textarea
                    textarea(placeholder="Ваше сообщение...")
                .review-grade__send
                    button: +icons('#ic_send', 24)
            .review-grade__title Ваша оценка
            .review-grade__radio
                ul
                    each item in [1,2,3,4,5,6,7,8,9,10]
                        li
                            label
                                input(type="radio" name="vote" )
                                span= item
            .review-grade__save
                button.btn.btn-line(type="submit") Сохранить

        