.layout-column {

    @media screen and (min-width: $w1440) {
        margin: 0 -30px;
    }

    @media screen and (min-width: $w992) {
        display: flex;
        margin: 0 -15px;
    }

    &__left {

        @media screen and (min-width: $w1440) {
            padding: 0 30px;
        }

        @media screen and (min-width: $w992) {
            width: 28%;
            padding: 0 15px;
        }
    }

    &__right {

        padding-top: 35px;

        @media screen and (min-width: $w1440) {
            padding: 0 30px;
        }

        @media screen and (min-width: $w992) {
            width: 72%;
            padding: 0 15px;
            padding-top: 0;
        }
    }
}