.film-poster {

    & div.error {
        color: $red;
        font-size: 12px;
        padding-top: 5px;
        text-align: center;
        width: 100%;
    }

    &__upload {
        & .btn {
            padding: 0.8em 2.2em 0.85em 2.2em;
            width: 100%;
        }
    }

    &__cover {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 25px;
        border: 1px solid #bcbcbc;

        &.cover--loaded {
            & .film-poster__image {
                z-index: 2;

                & img {
                    opacity: 1;
                }
            }

            &:hover {
                & .film-poster__image {
                    z-index: 1;
                }

                & .film-poster__btn {
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    transition: 0.4s ease;

                }
            }
        }


    }

    &__image {

        position: relative;
        z-index: 1;

        & picture {
            display: block;
            padding-top: 146%;
            background-color: #DDDDDD;

            @media screen and (min-width: $w576) {
                padding-top: 146%;
            }

            @media screen and (min-width: $w992) {
                padding-top: 146%;
            }

            & img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                opacity: 0
            }
        }
    }

    &__btn {

        @include layer(2);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .bgimage {
            width: 30px;
            height: 30px;
            @include bgimage-contain;
        }

        & label {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            & .text-upload {
                color: #92919F;
                text-decoration: underline;
                padding-top: 5px;
            }
        }


    }

    &__title {
        text-align: center;
        color: $main;
        padding-bottom: 10px;
        font-weight: 500;
    }

    &__link {

        padding-top: 30px;
        overflow: hidden;

        &-title {
            text-align: center;
            padding-bottom: 5px;
            color: #92919F;
        }

        &-url {
            & a {
                display: flex;
                align-items: center;
                justify-content: center;

                & span {
                    margin-left: 5px;
                    font-weight: 600;
                    text-decoration: underline;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: block;
                    @include line-clamp(2);
                    position: relative;


                }

                & svg {
                    min-width: 20px;
                }
            }
        }
    }

    &__progress {
        & .progress-bar {
            padding-top: 15px;
        }
    }


}

.attach-label {
    & input {
        display: none;
    }
}

.film-poster__cover {
    &[data-lang] {

        display: none;

        &.active {
            display: block;
        }
    }
}

.progress-bar {

    &__title {
        text-align: center;
        font-weight: 600;
        color: $main;
        padding-bottom: 5px;
    }

    &__state {
        height: 15px;
        padding: 2px;
        border: 1px solid #bcbcbc;

        & span {
            display: block;
            height: 100%;
            background-color: $main;
            transition: width 0.3s ease;

            &::before {
                content: '';
                background: -o-linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
                background: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
                background-size: 17px 17px;
                display: block;
                height: 100%;
                -webkit-animation: 1s linear infinite progress-bar-stripes;
                animation: 1s linear infinite progress-bar-stripes
            }
        }
    }
}