section.section-page-moderator
    .container
        .page-moderator
            .page-moderator__aside
                include ../moderator-aside/moderator-aside.pug
            .page-moderator__content
                block content