mixin about-history

    -
        const history = [
            {
                'year':'2022',
                'desc':'Российская программа авторского кино',
                'img':'/img/common/hst-2022'
            },
            {
                'year':'2021',
                'desc':'Фестиваль расширяет границы и выходит на международный уровень',
                'img':'/img/common/hst-2021'
            },
            {
                'year':'2020',
                'desc':'Фестиваль впервые прошел онлайн как и на офлайн площадках и собрал более 300.000 человек',
                'img':'/img/common/hst-2020'
            },
            {
                'year':'2019',
                'desc':'Премьеры фильмов и сериалов, дискуссии, круглые столы и другие мероприятия',
                'img':'/img/common/hst-2019'
            },
            {
                'year':'2018',
                'desc':'Торжественное открытие кинофестиваля Patriki Film Festival, кинопоказы на Патриаршем пруду',
                'img':'/img/common/hst-2018'
            },
        ]

    section.section-about-history
        .container
            .about-history
                .about-history__title История
                .about-history__wrp
                    .about-history__total
                        +total-history
                    .about-history__slider
                        .splide(data-slider="about-history")
                            .splide__track
                                .splide__list
                                    each item in history
                                        .splide__slide: +card-history(item)

mixin card-history(data)
    .card-history
        .card-history__year= data.year
        .card-history__desc= data.desc
        .card-history__img
            +picture(data.img)

mixin total-history

    .total-history
        .total-history__year 5 лет
        .total-history__title успешно проводим кинофестиваль
        .total-history__desc
            p > 30 мероприятий: лекций, паблик-токов
            p > 15 кинопоказов
            p Премьера фильма «Трое»
            p 4 благотворительных футбольных матчей с фондом Хабенского
        .total-history__nav
            .total-history__nav-prev(data-slider-prev="about-history"): +icons('#ic_arr-back', 20)
            .total-history__nav-next(data-slider-next="about-history"): +icons('#ic_arr-next', 20)