.section-about-history {
    position: relative;
    padding: 16px 0;

    @media screen and (min-width: $w1200) {
        padding: 48px 0;
    }
}

.about-history {

    &__wrp {
        display: flex;

        // @media screen and (max-width: $w992) {
        //     overflow-x: auto;
        // }

    }

    &__total {

        min-width: 100%;

        // @media screen and (min-width: $w992) {
        //     min-width: 390px;
        // }
    }

    &__slider {

        // padding-left: 30px;
        // width: calc(100% - 390px);

        width: 100%;

        // @media screen and (max-width: $w992) {
        //     width: auto;


        //     & .splide {
        //         display: block;
        //         visibility: visible;
        //         height: 100%;

        //         &>.splide__track {
        //             height: 100%;

        //             &>.splide__list {
        //                 display: flex;
        //                 backface-visibility: visible;
        //                 height: 100%;
        //             }

        //             & .splide__slide {
        //                 opacity: 1;
        //                 margin-right: 15px;
        //                 height: 100%;
        //             }
        //         }
        //     }
        // }


        & .splide {
            width: 100%;

            &__slide {

                opacity: 1;
                transition: opacity 0.5s ease;




                &.is-prev,
                &.is-next {
                    opacity: 1;

                }

                &.is-active {
                    opacity: 1;

                }
            }
        }

    }

    &__head {
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {

        display: flex;
        margin: -0px;


        &-prev,
        &-next {
            margin: 2px;
            width: 38px;
            height: 38px;
            background-color: #f5f5f5;
            cursor: pointer;

            @media screen and (min-width: $w1440) {
                width: 48px;
                height: 48px;
            }


            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #eee;
            }

            & svg {
                width: 14px;
                height: 14px;
            }
        }
    }



    &__title {
        @include section_title;
        text-align: left;
        color: #fff;






        @media screen and (min-width: $w1440) {
            font-size: 60px;
        }


    }

    & .splide {
        &__slide {

            width: 300px;


            @media screen and (min-width: $w1440) {
                width: 318px;
            }

            @media screen and (min-width: $w992) {
                width: 250px;
            }


        }
    }

}

.total-history {
    background-color: $main1-2;
    padding: 40px 30px;
    color: #fff;

    &__year {
        font-weight: bold;
        font-size: 36px;
        line-height: 133%;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 133%;
        color: #FFFFFF;
    }

    &__desc {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
    }

    &__nav {
        display: flex;
        margin-bottom: -40px;
        justify-content: flex-end;
        margin-right: -30px;

        &-prev {

            @media screen and (max-width: $w992) {
                display: none;
            }

        }

        &-prev,
        &-next {
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                left: -50%;
                bottom: -50%;
                display: block;
                width: 0;
                height: 0;
                background-color: $main;
                transition: 0.9s ease;
                border-radius: 50%;
            }

            &:hover {
                &::before {
                    width: 200%;
                    height: 200%;

                }
            }
        }

        & svg {
            filter: invert(1) brightness(2) grayscale(1);
        }
    }
}

.card-history {
    background-color: $main1-2;
    color: #fff;

    @media screen and (min-width: $w1440) {
        padding: 40px 30px;
    }

    @media screen and (min-width: $w992) {
        padding: 15px 20px;
    }

    @media screen and (max-width: $w992) {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 40px 30px;
    }


    &__desc {
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        margin-bottom: 20px;
        height: 80px;
        @include line-clamp(4);

        @media screen and (min-width: $w1440) {
            font-size: 16px;
            height: 121px;
            line-height: 150%;
        }
    }

    &__year {
        font-weight: bold;
        font-size: 22px;
        line-height: 133%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-74;
        margin-bottom: 20px;

        @media screen and (min-width: $w1440) {
            font-size: 28px;
            padding-bottom: 10px;
        }
    }

    &__img {



        @media screen and (min-width: $w1440) {
            margin: 0 -30px -40px -30px;
        }

        @media screen and (min-width: $w992) {
            margin: 0 -20px -15px -20px;
        }

        @media screen and (max-width: $w992) {
            margin: 0 -30px -40px -30px;
        }

        & picture {
            @include picture(50%, cover);
        }
    }
}