.banner-header-mobile
    picture
      img(src="/img/common/banner-header.jpg")
      
.container
  
  .bn-header
    .bn-header__logo

      

      a(href='/'): +bgimage('/img/common/logo2.png')
    .bn-header__nav
      .bn-header__nav-container(data-menu="container")
        .bn-header__nav-banner

          .banner-header
            picture
              img(src="/img/common/banner-header.jpg")
        .bn-header__nav-menu
          nav
            ul
              each item in app.mainMenu
                li: a(href=item.href)= item.text
        .bn-header__nav-lang
          .bn-header-lang
            .bn-header-lang__title Язык сайта
            .bn-header-lang__toggle
              ul
                li: a(href='#') ENGLISH
                li: a(href='#' class="active") РУССКИЙ
      .bn-header__nav-btn
        .btn-burger(data-menu="btn")
          i
          i
          i
    .bn-header__pa
      .bn-header__pa-container
        .bn-header-info
          .bn-header-info__lang
              select
                option(val="ru") Русский
                option(val="en") English
              .bn-header-info__find
                a(href='/search.html')
                  span.ic_find
        .bn-header__social
          ul
            li: a(href='#'): +icons('#ic_vk')
            li: a(href='#'): +icons('#ic_tg')
        .bn-header__login
            
               a(href='/moderator-profile.html') Личный кабинет

           
      .bn-header__pa-btn
        .user-login-mobile(title="Анастасия" data-user-menu="open" data-link="/user-orders.html")
          span.bgimage.lazyload(data-bg='/img/common/user-wooman.jpg')
            span.total-messages 3

.logo-preloader
  .container
    .logo-preloader__wrp
        span.preloader-text(style="background-image: url(/img/common/preloader-text.svg)")
        span.preloader-image(style="background-image: url(/img/common/preloader-image.png)")

      
