include ../../moderator/all-films/all-films.pug
include ../../site/jury-program/jury-program.pug

mixin programs
    .programs
        .programs__tabs
            .programs__btn
                ul
                    li.active: button.btn.btn-line Российский конкурс
                    li: button.btn.btn-line Международный конкурс
                    li: button.btn.btn-line Спецпоказ
            .programs__sort
                .dropdown-sort
                    .dropdown-sort__title Сортировать по рейтингу
                    .dropdown-sort__list
                        ul
                            li: a(href='#') По названию (А-Я)
                            li: a(href='#') Сначала высокие оценки
                            li: a(href='#') Сначала низкие оценки
                            li: a(href='#') Сначала новые
                            li: a(href='#') Сначала старые
                 
        .programs__list
            .programs__item
                .programs-item
                
                    .programs-item__head
                        .programs-item__name
                            .programs-item__title: a(href='program-details.html') Полный метр
                            .programs-item__desc Московский психолог, автор мотивационных роликов Злата считает, что у них с Сашей прекрасный брак, который помог им обоим реализовать себя и подарил десять лет образцовой совместной жизни — для полноценного счастья не хватает только ребенка. Саша же, видимо, считает иначе, потому что втайне от жены он встречается с другой женщиной. Ее зовут Вероника, она живет в Петербурге, проводит экскурсии и увлекается поэзией. Вероника помогла Саше выбраться из воды, когда он попытался утопиться с увесистой телепремией на шее. Успешный шоумен-комик, безропотный муж, нежный влюбленный, — он разрывается между несколькими ролями, между двумя столицами, между очень разными женщинами. Но всегда ли возможно сделать выбор?
                        .programs-item__nav
                            span.nav-program-prev: +icons('#ic_arr-up', 24)
                            span.nav-program-next: +icons('#ic_arr-down', 24)

                    .programs-item__list
                        each item, index in moderator.films
                            if index <= 4
                                .programs-item__film: +minicard-film(item)

                    .programs-item__jury
                        +jury-program()
                     


            .programs__item
                .programs-item
                
                    .programs-item__head
                        .programs-item__name
                            .programs-item__title: a(href='program-details.html') Короткий метр
                            .programs-item__desc Краткое описание
                        .programs-item__nav
                            span.nav-program-prev: +icons('#ic_arr-up', 24)
                            span.nav-program-next: +icons('#ic_arr-down', 24)

                    .programs-item__list
                        each item, index in moderator.films
                            if index > 4 && index <= 9
                                .programs-item__film: +minicard-film(item)
                    
                    .programs-item__jury
                        +jury-program()




mixin programs-details
    .programs
        .programs__tabs
            .programs__btn
                ul
                    li: button.btn.btn-line Российский конкурс
                    li.active: button.btn.btn-line Международный конкурс
                    li: button.btn.btn-line Спецпоказ
            .programs__sort
                .programs-sort
                    .programs-sort__title Сортировать по рейтингу
                    .programs-sort__list
                        ul
                            li: a(href='#') По названию (А-Я)
                            li: a(href='#') Сначала высокие оценки
                            li: a(href='#') Сначала низкие оценки
                            li: a(href='#') Сначала новые
                            li: a(href='#') Сначала старые
                 
        .programs__list
            .programs__item
                .programs-item
                     
                    .programs-item__list
                        each item, index in moderator.films
                            if index <= 4100
                                .programs-item__film: +minicard-film(item)

                    .programs-item__jury
                        +jury-program()
                     


            