.programs-item {
    &__list {
        @include row-flex;
    }

    &__film {
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        padding: 8px;
        border: 1px solid #fff;

        &--light {
            background-color: #E7E6F5;
        }

        @media screen and (min-width: 359px) {
            width: 50%;
            padding: 8px;
        }

        @media screen and (min-width: $w760) {
            width: 33.33%;
            padding: 8px;
        }

        @media screen and (min-width: $w992) {
            width: 25%;
            padding: 10px;
        }

        @media screen and (min-width: $w1440) {
            width: 20%;
            padding: 12px;
        }

    }

    &__nav {
        margin-left: auto;
        margin-top: -1px;
        visibility: hidden;

        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: $main;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                opacity: 0.9;
            }
        }

        & svg {
            stroke: rgb(255, 255, 255);
            stroke-width: 2px;
        }
    }

    &__head {

        background: #F5F5F5;
        display: flex;
        align-items: center;
        padding-left: 48px;
        border-top: 1px solid #ABA9BC;
        margin-bottom: 35px;

        @media screen and (min-width: $w1440) {
            margin-left: -48px;
            margin-right: -48px;
        }
    }

    &__title {
        @include section-title;

        & a {
            color: $main;
            font-size: 22px;

            @media screen and (min-width: $w992) {
                font-size: 32px;
            }
        }
    }

    &__desc {
        color: $main2;
    }


}

.programs {
    &__tabs {
        display: flex;
        align-items: flex-end;
        padding-top: 25px;
        padding-bottom: 45px;

        @media screen and (min-width: $w760) {
            align-items: center;
        }
    }

    &__btn {

        & ul {
            display: flex;
            align-items: center;
            margin: -5px;
            flex-direction: column;

            @media screen and (min-width: $w760) {
                flex-direction: row;
            }

            & li {
                padding: 5px;
                width: 100%;

                @media screen and (min-width: $w760) {
                    width: auto;
                }

                &:hover {
                    &.active {
                        & .btn {
                            color: #525166;
                            background-color: #fff !important;
                            border: 1px solid #BCBCBC !important;
                            cursor: default !important;
                        }
                    }
                }

                &.active {
                    & .btn {
                        color: $main;
                        font-weight: 700;
                        color: #000;
                    }
                }

                & .btn {
                    width: 100%;
                }
            }
        }

        & .btn {
            height: 52px;
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 0;

        }
    }

    &__sort {
        margin-left: auto;
    }

    &__item {

        & .nav-program-prev.disabled {
            opacity: 0.5;
            pointer-events: none;
            background: #D6D6D6;

            & svg {
                stroke: $main2;
            }
        }



        & .nav-program-next.disabled {
            opacity: 0.5;
            pointer-events: none;
            background: #D6D6D6;

            & svg {
                stroke: $main2;
            }
        }
    }
}





.dropdown-sort {
    position: relative;
    margin-left: 10px;

    @media screen and (min-width: $w1376) {
        min-width: 300px;
    }

    @media screen and (min-width: $w992) {
        margin-left: 0;
    }

    &:hover {
        & .dropdown-sort__list {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        border: 1px solid #BCBCBC;
        height: 52px;

        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 0;
        width: 52px;
        padding: 0;
        justify-content: center;

        @media screen and (min-width: $w992) {
            padding: 0 25px 0 25px;
            font-size: 14px;
            width: auto;

        }

        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3IDFIMW0xNiA2SDVtMTIgNkg5IiBzdHJva2U9IiM1MjUxNjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;

            @media screen and (min-width: $w992) {
                margin-left: auto;
                margin-right: -10px;
            }
        }
    }

    &__list {
        visibility: hidden;

        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        transition: 0.34s ease;
        transform: translateY(-10px);
        opacity: 0;
        min-width: 220px;

        & ul {
            & li {
                & a {
                    padding: 11px 25px;
                    display: block;
                }

                &.active,
                &:hover {
                    background-color: #EBEBEB;
                }
            }
        }
    }
}

.dark-mode {



    & .dropdown-sort {

        &:hover {
            & .dropdown-sort__title {
                background-color: $main-dark-2;
            }
        }

        &__title {
            border: none;
            background-color: $main-dark-1;
            color: $gray-74;
            border-radius: 5px;
        }

        &__list {
            background-color: $main-dark-2;

            & li {
                & a {
                    color: #fff;

                    &:hover {
                        background-color: $main-dark-3;
                    }
                }
            }
        }
    }
}