- 
  const app = {

    mainMenu: [
      { 'text': 'О фестивале',  'href': ''},
      { 'text': 'Программы',  'href': ''},
      { 'text': 'Кинозал',  'href': ''},
      { 'text': 'участникам',  'href': ''},
      { 'text': 'События',  'href': ''},
      
    ],

    moderatorNav: [
      { 'text': 'Заявки',  'href': 'moderator-orders.html'},
      { 'text': 'Сообщения',  'href': 'moderator-messenger.html'},
      { 'text': 'Фильмы',  'href': 'moderator-films.html'},
      { 'text': 'Рейтинги',  'href': 'moderator-rating.html'},
      { 'text': 'Рецензии',  'href': 'moderator-review.html'},
      { 'text': 'Профиль',  'href': 'moderator-profile.html'},
      { 'text': 'Выйти',  'href': 'moderator-logout.html'},
    ],


  };

  const moderator = {
    orders: [
      {
        name: 'Паразиты (2019)',
        autor: 'Пон Джун-хо',
        date: '20.11.2022',
        state: 'state--success'
      },
      {
        name: 'Три билборда на границе Эббинга, Миссури (2017)',
        autor: 'Мартин МакДона',
        date: '18.09.2022',
        state: 'state--reject'
      },
      {
        name: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда (2003)',
        autor: 'Трой Миллер',
        date: '20.11.2022',
        state: 'state--success'
      },
      {
        name: 'Три билборда на границе Эббинга, Миссури (2017)',
        autor: 'Мартин МакДона',
        date: '18.09.2022',
        state: ''
      },
      {
        name: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда (2003)',
        autor: 'Трой Миллер',
        date: '20.11.2022',
        state: ''
      },
    ]
  }





















