- 
  const app = {

    mainMenu: [
      { 'text': 'О фестивале',  'href': ''},
      { 'text': 'Программы',  'href': ''},
      { 'text': 'Кинозал',  'href': ''},
      { 'text': 'участникам',  'href': ''},
      { 'text': 'События',  'href': ''},
      
    ],

    moderatorNav: [
      { 'text': 'Заявки',  'href': 'moderator-orders.html'},
      { 'text': 'Сообщения',  'href': 'moderator-messenger.html'},
      { 'text': 'Фильмы',  'href': 'moderator-films.html'},
      { 'text': 'Рейтинги',  'href': 'moderator-rating.html'},
      { 'text': 'Рецензии',  'href': 'moderator-review.html'},
      { 'text': 'Профиль',  'href': 'moderator-profile.html'},
      { 'text': 'Выйти',  'href': 'moderator-logout.html'},
    ],

    userNav: [
      { 'text': 'Заявки',  'href': 'user-orders.html'},
      { 'text': 'Сообщения',  'href': 'moderator-messenger.html'},
      { 'text': 'Профиль',  'href': 'user-profile.html'},
      { 'text': 'Выйти',  'href': '#'},
    ],


  };

  const moderator = {
    orders: [
      {
        name: 'Паразиты (2019)',
        autor: 'Пон Джун-хо',
        date: '20.11.2022',
        state: 'state--success'
      },
      {
        name: 'Три билборда на границе Эббинга, Миссури (2017)',
        autor: 'Мартин МакДона',
        date: '18.09.2022',
        state: 'state--reject'
      },
      {
        name: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда (2003)',
        autor: 'Трой Миллер',
        date: '20.11.2022',
        state: 'state--success'
      },
      {
        name: 'Три билборда на границе Эббинга, Миссури (2017)',
        autor: 'Мартин МакДона',
        date: '18.09.2022',
        state: ''
      },
      {
        name: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда (2003)',
        autor: 'Трой Миллер',
        date: '20.11.2022',
        state: ''
      },
    ],

    msgrUser: [
      {
        logo:'/img/common/user.jpg',
        name: 'Иван зверев',
        last:'Три билборда на границе Эббинга, Миссури (2017) / 22-00651',
        date:'Сегодня 19.30',
        unread: false,
        email: 'jiguleva@yandex.ru',
      },
      {
        logo:'/img/common/user2.jpg',
        name: 'Анна Жигулёва',
        last:'Профессиональный военный Джексон Бриггс всеми силами пытается вернуться в строй',
        date:'Вчера в 19.30',
        unread: true,
        email: 'gorovoy_ev@mail.ru',
      },
      {
        logo:'/img/common/img_user.png',
        name: 'Иван Иванов',
        last:'всеми силами пытается в строй',
        date:'Вчера в 19.30',
        unread: false,
        email: 'zverev@mail.ru',
      },
      {
        logo:'/img/common/user.jpg',
        name: 'Василиса Ельская',
        last:'Три билборда на границе Эббинга, Миссури (2017) / 22-00651',
        date:'Сегодня 19.30',
        unread: false,
        email: 'jelskayavas@yandex.ru',
      },
      {
        logo:'/img/common/user2.jpg',
        name: 'Анастасия Старовойтова',
        last:'Профессиональный военный Джексон Бриггс всеми силами пытается вернуться в строй',
        date:'Вчера в 19.30',
        email: 'starovoytova@ya.ru',
      },
      {
        logo:'/img/common/img_user.png',
        name: 'Евгений горовой',
        last:'всеми силами пытается в строй',
        date:'Вчера в 19.30',
        email: 'govoy_ev@gmail.com',
      },
        {
        logo:'/img/common/user.jpg',
        name: 'Иннокентий островский',
        last:'Три билборда на границе Эббинга, Миссури (2017) / 22-00651',
        date:'Сегодня 19.30',
        email: 'ostrovsky@ya.ru',
      },
      {
        logo:'/img/common/user2.jpg',
        name: 'Анна Жигулёва',
        last:'Профессиональный военный Джексон Бриггс всеми силами пытается вернуться в строй',
        date:'Вчера в 19.30',
        email: 'jiguleva@mail.ru',
      },
    ], 

    films: [
      {
        title: 'Паразиты ',
        image: '/img/common/cover1',
        year: '2021, Пон Джун-хо ',
        rate: '6.3',
        colorRate: '#A8A8A8',
        light: true,
      },
      {
        title: 'Три билборда на границе Эббинга, Миссури',
        image: '/img/common/cover2',
        year: '2017, Мартин МакДона',
        rate: '8.0',
        colorRate: '#2FA81A',
        light: false,
      },
      {
        title: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда',
        image: '/img/common/cover3',
        year: '2002, Трой Миллер',
        rate: '6.3',
        colorRate: '#2FA81A',
        light: false,
      },
      {
        title: 'Анчартед: На картах не значится',
        image: '/img/common/cover4',
        year: '2022, Рубен Фляйшер',
        rate: '6.3',
        colorRate: '#A8A8A8',
        light: true,
      },
      {
        title: 'Лулу и Бриггс',
        image: '/img/common/cover',
        year: '2021, Рид Каролин',
        rate: '4.2',
        colorRate: '#ED1E69',
        light: false,
      },
      {
        title: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда',
        image: '/img/common/cover3',
        year: '2002, Трой Миллер',
        rate: '6.3',
        colorRate: '#2FA81A',
        light: false,
      },
      {
        title: 'Анчартед: На картах не значится',
        image: '/img/common/cover4',
        year: '2022, Рубен Фляйшер',
        rate: '6.3',
        colorRate: '#A8A8A8',
        light: true,
      },
      {
        title: 'Лулу и Бриггс',
        image: '/img/common/cover',
        year: '2021, Рид Каролин',
        rate: '4.2',
        colorRate: '#ED1E69',
        light: false,
      },
       {
        title: 'Три билборда на границе Эббинга, Миссури',
        image: '/img/common/cover2',
        year: '2017, Мартин МакДона',
        rate: '8.0',
        colorRate: '#2FA81A',
        light: false,
      },
      {
        title: 'Тупой и еще тупее тупого: Когда Гарри встретил Ллойда',
        image: '/img/common/cover3',
        year: '2002, Трой Миллер',
        rate: '6.3',
        colorRate: '#2FA81A',
        light: false,
      },
      {
        title: 'Анчартед: На картах не значится',
        image: '/img/common/cover4',
        year: '2022, Рубен Фляйшер',
        rate: '6.3',
        colorRate: '#A8A8A8',
        light: true,
      },
      
    ]
  }





















