- 
  const app = {

    mainMenu: [
      { 'text': 'О фестивале',  'href': ''},
      { 'text': 'Программы',  'href': ''},
      { 'text': 'Кинозал',  'href': ''},
      { 'text': 'участникам',  'href': ''},
      { 'text': 'События',  'href': ''},
      
    ],
    moderatorNav: [
      { 'text': 'Заявки',  'href': '#'},
      { 'text': 'Сообщения',  'href': '#'},
      { 'text': 'Фильмы',  'href': '#'},
      { 'text': 'Рейтинги',  'href': '#'},
      { 'text': 'Рецензии',  'href': '#'},
      { 'text': 'Профиль',  'href': '#'},
      { 'text': 'Выйти',  'href': '#'},

      
    ],

  };





















