- 
  const app = {

    mainMenu: [
      { 'text': 'О фестивале',  'href': ''},
      { 'text': 'Программы',  'href': ''},
      { 'text': 'Кинозал',  'href': ''},
      { 'text': 'участникам',  'href': ''},
      { 'text': 'События',  'href': ''},
      
    ],

  };



















