.section-recovery-password {
    @include section-padding;
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.recovery-password {
    max-width: 372px;
    margin: 0 auto;

    &__title {
        @include section-title;
        padding-bottom: 15px;
    }

    &__desc {
        padding-bottom: 30px;
        text-align: center;
        color: $main;
    }

    &__login {
        text-align: center;
        color: $main;
        padding-top: 40px;

        & a {
            text-decoration: underline;
        }
    }
}