mixin recovery-password
    section.section-recovery-password
        .container
            .recovery-password
                .recovery-password__title Востановление пароля
                .recovery-password__desc Пожалуйста введите свой email, мы вышлем на него информацию по востановлению пароля.
                .recovery-password__form
                  form(action='#' method='POST')
                    .form
                      .form__item
                        .form__subitem: input(type="email" placeholder="Email")
                      
                      .form__item
                        .form__subitem: button.btn.btn-full(type="submit") Восстановить пароль
                 
                .recovery-password__login
                    a(href='/login.html') Войти в личный кабинет
                
