html {
    font-family: Museo Sans Cyrl, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;
}


button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.hidden-profile,
.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1200) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

section {
    overflow: hidden;
    position: relative;

}

main {
    width: 100%;
    min-height: 85vh;
}


.container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;

    @media screen and (min-width: $w480) {
        padding: 0 16px;
        max-width: 360px;
    }

    @media screen and (min-width: $w576) {
        padding: 0 16px;
        max-width: 480px;
    }

    @media screen and (min-width: $w760) {
        padding: 0 20px;
        max-width: 705px;
    }

    @media screen and (min-width: $w992) {
        padding: 0 30px;
        max-width: 990px;
    }

    @media screen and (min-width: $w1200) {
        padding: 0 30px;
        max-width: 1200px;
    }

    @media screen and (min-width: $w1440) {
        padding: 0 0;
        max-width: 1440px;
    }
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border: 2px solid var(--fancybox-accent-color);
}

.formated-text {

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: 25px;
        line-height: 120%;
    }

    @media screen and (min-width: $w1200) {
        & h1 {
            font-size: 38px;
        }

        & h2 {
            font-size: 32px;
        }

        & h3 {
            font-size: 28px;
        }

        & h4 {
            font-size: 24px;
        }

        & h5 {
            font-size: 20px;
        }

        & h6 {
            font-size: 18px;
        }
    }

    & .table {
        overflow-x: auto;
    }

    & table {

        border: 1px solid #cacaca;
        border-collapse: collapse;
        margin: 35px 0;
        width: 100%;
        min-width: 600px;

        & th {
            padding: 13px 25px;
            background-color: #EFEFEF;
            color: #000;
            text-decoration: transparent;
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            text-align: center;
            border: 1px solid #CACACA;
            border-bottom-color: transparent;

            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 15px 25px;
                font-size: 16px;
            }


        }

        & td {
            padding: 20px 25px;
            border: 1px solid #CACACA;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            min-width: 150px;

            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 35px 25px;
                font-size: 16px;
            }

            & strong {
                display: block;
                margin-bottom: 10px;
            }

            &:first-child {
                font-weight: normal;
            }
        }

    }

    & a {
        color: $main;
        text-decoration: underline;
    }

    & p {
        font-size: 14px;
        margin: 25px 0;
        color: #666;
        line-height: 150%;

        @media screen and (min-width: $w760) {
            font-size: 16px;
        }
    }

    & ul {

        padding: 20px 0;

        @media screen and (min-width: $w760) {
            padding-top: 20px;
        }

        & li {

            position: relative;
            padding-left: 20px;
            font-size: 14px;
            padding-bottom: 20px;

            @media screen and (min-width: $w760) {
                font-size: 16px;
                padding-left: 30px;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                display: block;
                position: absolute;
                left: 0;
                top: 0.5em;
                border-radius: 50%;
                background-color: $main;
            }
        }
    }

    & img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        margin: 35px 0;
    }

    & ol {
        counter-reset: number-list 00;
        padding: 20px 0;

        &>li {

            counter-increment: number-list 1;
            list-style-type: none;
            position: relative;
            margin-bottom: 15px;
            color: #000;
            padding-left: 20px;
            font-size: 14px;

            @media screen and (min-width: $w760) {
                font-size: 16px;
                padding-left: 30px;
            }



            &::before {
                content: counter(number-list);
                color: $main;
                font-weight: bold;
                min-width: 35px;
                display: inline-block;
                position: absolute;
                left: 0;

                @media screen and (min-width: $w760) {}
            }
        }
    }
}

:root {
    --fancybox-accent-color: #BF3232;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 27px;
    --carousel-button-svg-height: 27px;
    --fancybox-bg: rgba(24, 24, 27, 0.92);
    --fancybox-thumbs-width: 96px;
    --fancybox-thumbs-border-radius: 0px;

    // @media screen and (max-width: $w1440) {
    //     --swiper-navigation-size: 28px
    // }
}




/* ================== */

@mixin section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: $main;

    @media screen and (min-width: $w1440) {
        font-size: 36px;
    }
}

@mixin section-subtitle {
    font-weight: bold;
    font-size: 26px;
    line-height: 117.2%;
    color: #1B1A1C;

    @media screen and (min-width: $w992) {
        font-size: 48px;
    }

}

@mixin section-label {
    display: none;

    @media screen and (min-width: $w760) {
        padding-bottom: 15px;
        display: block;

        & span {
            padding: 7px 16px;
            background: #BF3232;
            border-radius: 10px;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
        }
    }

}


@mixin section-padding {
    padding: 55px 0;

    @media screen and (min-width: $w576) {
        padding: 70px 0;
    }
}


table {

    border: none;
    border-collapse: collapse;
    margin: 35px 0;
    width: 100%;
    min-width: 600px;

    & th {
        padding: 13px 25px;
        background-color: #F5F5F5;
        border: none;
        color: #838383;
        font-size: 14px;
        font-weight: normal;
        text-align: left;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;
            font-size: 16px;
        }


    }

    & td {
        padding: 15px 25px;
        border-bottom: 1px solid #CFCFCF;
        font-size: 14px;

        @media screen and (min-width: $w760) {
            padding: 15px 20px;
            font-size: 16px;
        }

        & strong {
            display: block;
            margin-bottom: 10px;
        }

        &:first-child {
            font-weight: bold;
        }
    }

}

a.link-primary {
    color: $main;
}