mixin  your-review
    .your-review(data-popup-html="")
        .your-review__wrp
            .your-review__head
                .your-review__title Ваша рецензия
                .your-review__grade
                    | Средняя оценка жюри:
                    span 9
            .your-review__text
                p Судя по рецензиям, мелодрама Анны Меликян мало кого оставила равнодушным. Каждый интерпретировал одно и то же по-своему, поэтому кто-то высказывался резко-негативно, а кто-то наоборот восхищался глубинным смыслом картины.
                p Я не люблю мелодрамы и с настороженностью отношусь к необычным решениям, как например: фильм с 3 действующими лицами. Фильм решила посмотреть из-за актеров(хоть их всего трое, а интерес вызывают, причём большой), а также потому что фильмы Анны Меликян направлены на то, чтобы показать что-то стоящее, а не просто собрать кассу. Так что это не про коммерцию, а про смысл.
                p Говоря о смысле или о, так сказать, морали этого фильма, вряд ли удастся прийти к единому мнению и дать однозначный ответ. В этом и есть ценность картины: кто-то видит одно, для кого-то в этом «одном» заложен другой смысл, кто-то видит смысл в маленькой детали, кто-то считает это совпадением. И нету правильного ответа на то, что же всё-таки значит эта маленькая деталь и какой истинный смысл фильма.
                p Например: кто-то говорит о том, что Хабенский не справился с ролью и смог изобразить только вечно кривляющегося клоуна, а вот влюбленность в Веронику (Юлию Пересильд) он передать не смог, хотя его герой (Саша Сашин) испытывал ее. А вы уверены, что он действительно любил ее? Или испытывал влюбленность? Я не знаю что именно было по сценарию, но я посчитала, что это далеко не любовь и не влюбленность. Как и было сказано в фильме: «Новый человек приходит в нашу жизнь тогда, когда нам это действительно необходимо» – вот и к Саше Сашину эта «любовь» пришла, когда он пытался свести концы из-за жены, которая ему уже осточертела. Вероника оказалась рядом в момент, когда главный герой уже потерял всякую надежду испытать счастье, поэтому она и была для него глотком свежего воздуха. Я не считаю, что это любовь, это скорее последняя надежда.
                p Не разделяю и мнения о том, что актеры играли вполсилы. Хабенский блестяще справился с задачей изобразить «клоуна», который прячет внутренние проблемы и горести за постоянным смехом и дурачеством. В этом и была задача, на мой взгляд. Виктории Исаковой замечательно удалось показать зрителю измученную нервную (хоть она этого и не показывает) женщину, которая всеми силами пытается вырвать остатки своего якобы счастья. Юлия Пересильд демонстрировала девушку, запутавшуюся в себе, но счастливую от того, что в ее жизни появился новый человек, новые эмоции.
                p Замечательная работа всей команды, участвовавшей в процессе создания картины «Трое». В этом фильме есть о чем задуматься каждому. И каждый должен найти свой смысл...
            .your-review__subtitle Комментарии жюри:
            .your-review__comments
                .your-review__comment К каждой рецензии член Жюри может оставить комментарий, если сочтет это нужным. Комментарий на рецензию видит только пользователь, оставивший эту рецензию, в своем ЛК. Член Жюри может оценить комментарий по 10-бальной шкале
                .your-review__comment К каждой рецензии член Жюри может оставить комментарий, если сочтет это нужным. Комментарий на рецензию видит только пользователь, оставивший эту рецензию, в своем ЛК. Член Жюри может оценить комментарий по 10-бальной шкале
